[2015-10-07 16:42] nuwang opened #1 "Needs test cases for edge case with non-existent objects"
See commit:
https://github.com/gvlproject/cloudbridge/commit/1a6ca7763f5da38abe76aa4647c5508c50b11d49

[2015-10-14 19:34] MatthewRalston opened #2 "Support for specifying subnet?"
Hi, will this software support launching instances into subnets (or whatever the generic equivalent would be)?

[2015-10-16 06:17] nuwang commented on #2
Yes. That's definitely on the cards. At the moment, work has not been started on that front, but any suggestions/contributions are welcome.

[2015-11-02 11:45] afgane opened #3 "Remaining featureset for release 0.1"
- [x] Update package organization
- [x] Remove lib versions from factory in favor of releases
- [x] Block device mapping
- [x] Support for launching instances into VPC/Neutron
- [x] Add iterators/generators
- [x] 95%+ test coverage
- [x] Basic docs: getting started (e.g., provider configs, env variables), tutorials (e.g., launch an instance, add block storage), API docs
- [x] Implement support for

[2015-11-04 13:57] #2 closed

[2015-11-06 10:03] afgane commented on #2
A preliminary implementation for private networks has been added at this point. Until we put together some docs, take a look at the [add_network_iterface](https://github.com/gvlproject/cloudbridge/blob/master/cloudbridge/cloud/interfaces/resources.py#L394) method.

[2015-11-07 11:03] nuwang opened #4 "Need a method to get AMI size"
When mapping volumes, the new volume should be larger than the AMI size. Therefore, a method is needed to determine the size.
See: https://github.com/gvlproject/cloudbridge/blob/master/test/test_provider_compute_service.py#L134

[2015-11-11 03:46] ykowsar opened #5 "get method should always search for one object and return or return None"
Get method in security group services is returning a list

[2015-11-11 03:54] ykowsar opened #6 "It is good to be able to assign a security group to an instance"
currently instances can only list the available security_group to them but we need to be able to assign a security group to an instance after launching it.

[2015-11-11 15:30] nuwang commented on #3
I've added a basic iterator implementation, but I'm not too happy with it. A lot of AWS methods don't support paging at all, so you end up having to implement it on the client-side. The current implementation is very basic and not very efficient when that happens.

[2015-11-12 11:10] nuwang opened #7 "Make timeout and interval configurable through a global setting"
Currently, the wait_for method in ObjectLifeCycleMixin uses a default timeout of 600 and 5 respectively. This value is repeated in subclasses, which increases the likelihood of things drifting out of sync/becoming inconsistent. In addition, there is no way to change these defaults other than by specifying them repeatedly when using the wait_for method (e.g. see test cases).

Therefore, if we  move

[2015-11-13 10:31] nuwang opened #8 "KeypairService does not have a get method"
The keypair service has a find method, but no get method. Should there be a get method for consistency?

[2015-11-25 17:55] afgane opened #9 "Future release features"
A list of features to be added in a future release:
- [x] Use [boto3](https://github.com/boto/boto3) for AWS backend (see #22)
- [ ] Increase test coverage to 97%
- [ ] Wrap all exceptions in cloudbridge equivalents
- [ ] Add support for Snapshot sharing
- [ ] Add Metadata service (see #23)

_BONUS_
- [ ] Add Google Cloud as a new provider (see [gce branch](https://github.com/gvlproject/cloudbridg

[2015-11-26 07:19] nuwang commented on #8
Added.

[2015-11-26 07:19] #8 closed

[2015-11-26 08:52] nuwang commented on #5
Fixed.

[2015-11-26 08:52] #5 closed

[2015-11-27 11:52] nuwang commented on #7
Fixed in commit: https://github.com/gvlproject/cloudbridge/commit/76db9d36b808dcefa384ffa5b4787e0bbbff1a22

[2015-11-27 11:52] #7 closed

[2015-11-27 12:17] nuwang opened #10 "Should we rename impl.py to something better?"
@afgane The current file organisation has impl.py, resources.py and services.py.
However, our conceptual organisation says that we have 3 types of objects: providers, resources and services. (http://cloudbridge.readthedocs.org/en/latest/concepts.html)

impl.py somehow doesn't seem to quite fit. We could rename it to provider.py, which is not that bad, since that is the core provider implementation

[2015-11-28 02:35] afgane commented on #10
I was also of the opinion `impl.py` wasn't great but never came up with a better alternative. Most obvious one would be `provider.py` but you've already discussed the drawbacks of it. However, only *providers* is used in the code so perhaps *provider* is still ok. Maybe `connection.py` instead?

[2015-11-28 14:22] nuwang opened #11 "Fix bug in Moto's volume and snapshot filtering"
Moto doesn't appear to correctly filter volumes and snapshots when filtering with tag:Key=Value.
https://github.com/gvlproject/cloudbridge/commit/134111c7be2eefae9a7b80e01ba1ec2d33af5159#diff-6d699f81a4bb6d4998101dd3fe4d7d22R172

[2015-11-30 16:59] afgane commented on #10
Closed via 151b04d0fd70fb8e77397d8e56556d22522c82a2.

[2015-11-30 16:59] #10 closed

[2015-12-11 04:05] nuwang opened #12 "Add extra provider initialization settings"
s3_port, s3_url, ec2_port, url etc.
Ditto for OpenStack.

[2015-12-23 16:02] afgane commented on #12
Is this a2b3c9bdedaf7490499fa44d01d83915679218c9 what you had in mind for OpenStack? It works (and finally allows use of Chameleon cloud since it has no object store service) but I guess the same should be for all the services, which will get kind of messy with all the env vars.

[2015-12-28 11:10] nuwang commented on #12
This looks good to me. I was originally thinking of something else though, which was to provide additional options for specifying API version numbers and other service specific settings we may have missed for the various OpenStack services. (e.g. cinder has OS_VOLUME_API_VERSION so neutron should probably have something similar)

[2015-12-28 14:49] afgane commented on #12
There's a bunch of parameters for the connection object (e.g., Neutron example https://github.com/openstack/python-neutronclient/blob/master/neutronclient/v2_0/client.py#L106; Swift example: https://github.com/openstack/python-swiftclient/blob/master/swiftclient/client.py#L1285), yet none are in the same category as the API version example you mention. Do we really want to expose all of those para

[2015-12-28 15:19] afgane commented on #12
Re. the per-service credentials I added fro Swift - it doesn't look to me like we need any other such implementation. Swift can be independent of Nova but Cinder, Neutron and Keystone all work in sync with Nova (e.g., can't have a volume in a diff cloud than a VM). What do you think?

[2016-01-11 12:11] nuwang opened #13 "Volumes and Snapshots do not have some required properties"
Volumes need:
size
description?
creation_time
attachment information
placement
tags

Snapshots need:
size
description?
creation_time
progress
tags

[2016-01-12 22:08] afgane opened #14 "Zones don't have an internal representation/implementation"
The following code returns a Zone object native to the provider vs. a Cloudbridge native object.
[code]

A complication related to this is that AWS does not provide a Zone listing endpoint.

[2016-01-14 07:07] nuwang commented on #14
Fixed in commit: https://github.com/gvlproject/cloudbridge/commit/3bfeddd108920bcbedcdd2c9729abb32fe47d2a8

[2016-01-14 07:07] #14 closed

[2016-02-01 16:58] #3 closed

[2016-02-19 17:15] chiniforooshan opened #15 "Cannot run tests"
I'm not sure if there is anything wrong with my local setup or if this is a bug: when I run "tox -e py27" on master I get the following error:

ERROR: actionid=py27
msg=getenv
cmdargs=[local('/home/chiniforooshan/github/chiniforooshan/cloudbridge/.tox/py27/bin/pip'), 'install', '--pre', '-rrequirements.txt', 'coverage']
env={...}
Could not open requirements file: [Errno 2] No such file or director

[2016-02-19 22:20] afgane commented on #15
Hmm - I just did a fresh clone of the repo and tests got under way, so it might be something with the setup. What system are you on?

Here's the exact set of commands I ran:
[code]
At this point tests started running (but without [additional credentials setup](http://cloudbridge.readthedocs.org/en/latest/topics/testing.html?highlight=testing#id1), most of them failed).

[2016-02-19 23:39] chiniforooshan commented on #15
Running in a virtual environment + installing python2.7-dev fixed it. Thanks!

[2016-02-19 23:39] #15 closed

[2016-02-19 23:43] afgane commented on #15
Great! Let us know if you have any more questions.

[2016-06-21 14:59] afgane opened #18 "Network management TODOs"
Network management needs some attention so here's a running list of TODOs.
- [x] Add a library configuration option (as a `.cloudbridge` file) to specify a default private network to be used by CloudBridge. This will hopefully simplify the process of deploying instances into private networks (e.g., [_resolve_launch_options](https://github.com/gvlproject/cloudbridge/blob/27f117da553e4fabac0234769f1

[2016-09-30 15:14] afgane opened #22 "Use boto3"
The AWS implementation uses the 'old' boto library. Replace it with [boto3](https://github.com/boto/boto3). Besides being the future version of the library, getting this library closer to [v0.2](https://github.com/gvlproject/cloudbridge/issues/9), it will allow much better filtering of returned results than the current implementation.

[2016-09-30 19:48] afgane opened #23 "Add Metadata service"
Add implementation for the cloud metadata service across all the providers.

For AWS, the list of available metadata is [here](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html#instancedata-data-categories). For OpenStack, see these [docs](http://docs.openstack.org/user-guide/cli-config-drive.html). For GCE, the docs are [here](https://cloud.google.com/compute/docs/stor

[2016-10-02 03:45] 01000101 commented on #22
I've started working on this in a fork branch but it might take a while. https://github.com/01000101/cloudbridge/tree/boto3-upgrade

[2016-10-03 14:28] afgane commented on #22
Excellent! Thanks for the heads up and let us know if you’d like some help along the way to help with the volume of work.

[2016-10-13 16:08] gsrajadh commented on #13
@nuwang Can I work on this?

[2016-10-13 16:26] nuwang commented on #13
@gsrajadh You'd be most welcome! For the "progress" field in a Snapshot, it would be good if you can check whether Google Compute Engine supports it too.

[2016-10-14 02:12] bradstimpson commented on #23
Any objections if I take this one?

[2016-10-14 13:09] afgane commented on #23
Please do. Let us know if you have any questions or would like some help.

Thanks!

[2016-10-14 14:18] afgane commented on #23
Just thought of something - with issue #22 seemingly underway to being resolved, there may be some implications about this implementation. It may be best to (a) coordinate this effort a bit or (b) implement this directly using `boto3` library.

[2016-10-23 16:51] bradstimpson commented on #22
@afgane and @01000101 how are you progressing with this? I put my work on #23 on hold

[2016-10-24 14:34] afgane commented on #22
Looks like this has been on pause of a few weeks now... @01000101 - could you please share your plans - even if it's to bail on the effort?

[2016-10-25 18:20] 01000101 commented on #22
A lot has been done and it's pretty close to usable. Tests won't work
(obviously) anymore and I wasn't planning on rewriting the tests as well.

Sent from my Samsung Galaxy S7

On Oct 23, 2016 12:51, "Bradford" <notifications@github.com> wrote:

[2016-10-26 16:06] afgane commented on #22
Absolutely - it's a huge amount of code already! We can rework the tests after it's all in. So what's your thinking now - ready to do the PR or do a bit more work? Primarily to give @bradstimpson a feeling what to do with this effort.

[2016-10-26 16:10] 01000101 commented on #22
I'm travelling for the next 3 days but I might be able to find a little
time to finish up the last piece (VMs) if wifi permits. Once the VM object
is working (I think all of the other objects are done) I'll make a PR.

Sent from my Samsung Galaxy S7

On Oct 26, 2016 12:06, "Enis Afgan" <notifications@github.com> wrote:

[2016-11-29 20:31] afgane commented on #22
Hacktoberfest is over but I was wondering if you were still interested in wrapping this up perhaps?
Thanks.

[2016-11-30 15:44] 01000101 commented on #22
Yes, I am. I'm working on it now and as soon as I get the instance tests to
complete successfully, I'll make a PR to a new branch for everyone to
review and improve on.

On Tue, Nov 29, 2016 at 3:32 PM, Enis Afgan <notifications@github.com>
wrote:

[2016-12-19 23:47] afgane opened #25 "No return value for instance.terminate()"
The library docs say when `instance.terminate()` method is called, we should get a `True`/`False` return value (https://github.com/gvlproject/cloudbridge/blob/master/cloudbridge/cloud/interfaces/resources.py#L514). However, AWS and OpenStack implementations do not adhere to that interface (OS: https://github.com/gvlproject/cloudbridge/blob/master/cloudbridge/cloud/providers/openstack/resources.py#

[2017-01-27 06:56] nuwang commented on #25
@afgane I'm thinking we should modify the interface and just return void?

[2017-03-07 12:25] madhugilla opened #30 "unit tests failing"
Hi Guys,

cloned the repo on my windows workstation, ran tox (only python 2.7) and saw that 42 out of the 85 tests failed, is there any extra setup that i have to do to have all the tests pass ?

Attached is the testresults file.
[testresults.txt](https://github.com/gvlproject/cloudbridge/files/824339/testresults.txt)

Thanks

[2017-03-07 12:46] nuwang commented on #30
Hi, before you can run the tests, you need to set some environment variables pointing to the connection information/credentials for each supported cloud. As detailed in the log, the tests fail because the credentials for openstack are absent.
If you do not have access to a particular cloud, you can either run the mock tests or restrict the tests to AWS only, by setting the CB_TEST_PROVIDER instanc

[2017-03-07 12:51] nuwang commented on #30
Just an additional note, there are two tests that currently fail on the dev branch due to an issue with a downstream library (moto), but apart from those, all other tests should pass.

I'll close this issue for now. Feel free to reopen if you run into any more trouble.

[2017-03-07 13:47] madhugilla commented on #30
On a side note, i am running WINDOWS, do i have to change any other configuration in the tox file ?

Thanks

[2017-03-07 13:50] nuwang commented on #30
There's nothing platform specific and all dependent libraries are windows compatible afaik. Nevertheless, we haven't tested on windows, so it'd be great to hear about your experience.

[2017-03-07 16:51] madhugilla commented on #30
In windows  we used the 'set' command to set both the provider and mock environment variables to aws and Yes and ran the tests we are still running into the same issue, attached is the same.
[testrun.txt](https://github.com/gvlproject/cloudbridge/files/825121/testrun.txt)

[2017-03-07 18:13] nuwang commented on #30
if you do
set CB_TEST_PROVIDER=aws
set CB_USE_MOCK_PROVIDERS=true
that should be sufficient. Two tests will fail because of the issue I mentioned before with the mock library (moto).

The test log you provided indicates that the above variables have not been set (which is why the OpenStack tests are running. When you set the above, only the aws tests should run).

[2017-03-07 18:54] nuwang commented on #30
We did notice that there was an error with regard to CR/LF encoding that typically occurs when moving between Windows and Unix, so this is a great opportunity to squash that issue. We're putting in a fix now by re-encoding this file. https://d168wakzal7fp0.cloudfront.net/aws_instance_data.json
It should be updated shortly.

Let us know how you go, we're keen to know whether that fixes that issue.

[2017-03-07 19:08] afgane commented on #30
Just updated the CloudFront distribution so that hopefully fixes the json encoding issue. Please let us know either way.

[2017-03-08 06:14] madhugilla commented on #30
Hi

1) Got the latest from the master
2) We ran on both Linux and windows and both of them have the same results 47 ran and 11 failures, attached are the test logs for the same.
3) Are we missing any dependencies ??

[windowstestruns.txt](https://github.com/gvlproject/cloudbridge/files/826768/windowstestruns.txt)
[linuxtestrun.txt](https://github.com/gvlproject/cloudbridge/files/826769/linuxtestru

[2017-03-08 06:22] nuwang commented on #30
I'm rerunning the Travis build: https://travis-ci.org/gvlproject/cloudbridge
Will get back to you once it finished. I'll also try it out on a Windows machine. So am I correct in assuming that the following steps will reproduce it?
1. Create Windows virtualenv
2. Install requirements
3. set CB_TEST_PROVIDER=aws and set CB_USE_MOCK_PROVIDERS=True
4. run tox -e py27

[2017-03-08 06:25] madhugilla commented on #30
we don't do the 1 and 2, we only run the 3 and 4 steps.

are 1 and 2 a must ??

[2017-03-08 06:29] nuwang commented on #30
Tox will create its own virtual environment, so you're right, it's not required. Usually, I tend to start off by creating a venv, which is why I put that in. Also, how are you planning to work with cloudbridge? Are you trying to develop with cloudbridge or contribute to cloudbridge?

[2017-03-08 07:55] madhugilla commented on #30
yes, we want to use cloud-bridge for interfacing, and if possible  certainly contribute down the line..

[2017-03-08 19:16] nuwang commented on #30
Thanks for reporting this, there was a minor issue which was causing problems - a missing double quote. It has since been fixed in this commit: https://github.com/gvlproject/cloudbridge/commit/7a235ea0cc1d1f4c1ebd552ba9b92d16b84160bc

Please try now and let us know - 2 tests may fail, but these only fail with the mock service, and pass on the actual cloud providers, so they are not functionally im

[2017-03-09 06:19] madhugilla commented on #30
Hi,

1) When we run the tests for only AWS 2 tests fail
2) When we run all the tests we have 28 failing , 26 for open-stack and 2 for aws i am assuming we need an environment for open stack as it does not have a mocking support.

The above applies for both windows and Linux

[alltests.txt](https://github.com/gvlproject/cloudbridge/files/829932/alltests.txt)
[onlyaws.txt](https://github.com/gvlproj

[2017-03-09 06:29] nuwang commented on #30
That's correct - the OpenStack tests must be run against real infrastructure, and therefore, you would need credentials. However, the Travis tests are run against real infrastructure, and all OpenStack tests pass: https://travis-ci.org/gvlproject/cloudbridge/jobs/209078842

Since you're only planning to use cloudbridge though, you shouldn't need to worry about this in principle, because the idea i

[2017-03-09 07:33] madhugilla commented on #30
As mentioned, we want to set it up locally  to, see how its implemented, debug any issues and add functionality if required..

Thanks for the help, much appreciated. !!!

[2017-03-09 09:06] nuwang commented on #30
No worries and thanks for testing this out on Windows. Let us know if you run into any more issues.

[2017-03-09 09:06] #30 closed

[2017-03-22 10:04] nuwang commented on #25
Fixed in: https://github.com/gvlproject/cloudbridge/commit/922e0a0af1b5716840bcbb100c11637b1df87b30

[2017-03-22 10:04] #25 closed

[2017-04-04 15:05] afgane opened #32 "GCE provider issues"
In testing PR #31, I came across a few issues with the GCE provider so will summarize those here to keep track of them (@chiniforooshan, @baizhang, @mbookman):

- [x]  `KeyError: 'methods'` when creating a provider
Cannot create a GCE provider because getting the following exception:
[code]
This happens on both py27 and py36 with a provider config like this:
[code]
Simply changing line 85 in gce `

[2017-04-04 18:50] nuwang commented on #32
I think this would also be a great opportunity to watch out for ways to harden the test suite. I think some of these may not be getting caught in tests (e.g. the list method() not working when no instances exist, although that's a bad example, because there's no reliable way to test for that in a non-empty project.)

[2017-04-11 16:22] #18 closed

[2017-04-11 16:30] nuwang commented on #12
I think things are fairly ok at this stage - we can revisit later if required.

[2017-04-11 16:30] #12 closed

[2017-04-12 08:58] #4 closed

[2017-04-12 09:15] nuwang commented on #1
Fixed by: https://github.com/gvlproject/cloudbridge/commit/ce2a27f3746d8810fcfae0f0814182f9359465f1 and https://github.com/gvlproject/cloudbridge/commit/a0e538755e23a44bc7132bc830391482a6908f4a

[2017-04-12 09:15] #1 closed

[2017-04-12 11:24] nuwang commented on #13
Closed by:
https://github.com/gvlproject/cloudbridge/commit/eb939eba5ff9e8825c76d8aabcbaba66e0e15e5e

[2017-04-12 11:24] #13 closed

[2017-04-13 14:24] #6 closed

[2017-04-13 14:26] nuwang commented on #6
Fixed in commit: https://github.com/gvlproject/cloudbridge/commit/e6377227608e6aa916794a66d0e9b71f77530ddc

[2017-04-13 15:34] nuwang opened #34 "Routers leaking implementation details"
Cloud specific code in:
https://github.com/gvlproject/cloudbridge/blob/13539ccda9e4809082796574d18b1b9bb3f2c624/test/test_network_service.py#L189

and:
https://github.com/gvlproject/cloudbridge/blob/13539ccda9e4809082796574d18b1b9bb3f2c624/test/test_compute_service.py#L378

[2017-04-27 06:19] MartinPaulo opened #35 "Doesn't upload files larger than 5 Gig to Swift"
If I use cloudbridge to upload a file larger than 5 Gig in size to Swift it eventually fails.

I've walked through the code and this is what I see happening:
The `cloudbridge` `OpenStackBucketObject` `upload_from_file` method is called. This in turn eventually lands up calling the OpenStack `swiftclient.client.py` `Connection` `put_object` method: which is a low level method that does not attempt

[2017-04-27 06:29] MartinPaulo commented on #35
I've done some further investigation. `SwiftService` is a multithreaded class, and it uses a connection factory method to make sure that each thread can create connections on demand. Rather than trying to copy settings across to this factory method from the cloudbridge openstack provider, it would be better to override this factory method so that the `_connect_swift` factory was called instead to

[2017-04-27 06:40] MartinPaulo commented on #35
The `SwiftService` constructor builds its options from a grab bag of global, local and passed in options: and that it the filters out the options not needed for a connection by the way in which it calls its connection factory method. It does something along the lines of the following:

[code]

So if the `_connect_swift` module is to accept options from the `SwiftService` instance it will also need

[2017-04-27 06:44] MartinPaulo commented on #35
Further, it turns out that the delete of an uploaded object as implemented will fail if the object is larger than 5 Gig. But what do you know: the `SwiftService` class transparently handles the delete of segmented objects as well. Hence the `delete` method on the `OpenStackBucketObject` should also delegate to an instance of the `SwiftService` class.

[2017-04-27 07:03] MartinPaulo commented on #35
I have created and tested a fix for this, and uploaded it as a pull request.

Some notes:

* My fix works on hard 5Gig boundaries. The OpenStack documentation states that segment sizes, and also the size of the files being uploaded, might work better on some installations of Swift if they are smaller. Hence this size limit should possibly be set as an option.
* The upload of non file data is not a

[2017-05-01 07:09] MartinPaulo opened #37 "Version Conflict when trying to run tox tests."
If I clone the repository, setup the needed environment and then run tox, it fails under both py27 and py36 (I haven't tried pypy), with the following error message:

[code]

Working through the dependencies in `setup.py` it would appear that indeed the version of requests that best fits them is 2.12.5. Which is why it is then downloaded and installed. However, that version of requests in turn exp

[2017-05-01 07:12] MartinPaulo commented on #37
My simple fix for this is to change `setup.py` to add the two required libraries:

[code]

Running the tests with this change in place gets them running. I'm not sure this is the best fix, though.

[2017-05-02 07:03] MartinPaulo commented on #37
I've dug into this a bit more - given my Java background this has been good learning. Sadly I can't find a better way, other than setting ranges on the two libraries (e.g.: `'requests<2.13.0', 'Babel>=2.3.4,<2.4.0'`)

[2017-05-02 12:43] nuwang commented on #37
@MartinPaulo Would you mind issuing a pull request for this?

[2017-05-03 07:33] MartinPaulo commented on #37
@nuwang No problem: will do

[2017-05-04 20:44] VJalili commented on #9
I would vote for this to get a higher priority ;-)

[2017-05-09 02:11] MartinPaulo opened #39 "The tests expect block storage to be available in all zones"
As written, the tests for the block store service expect block storage to be available in the same default zone as the instance created. On our nectar cloud this is not necessarily true: block storage for a given project may only be available in one of the zones. Hence the tests attempt to create block storage in the same default zone as the instance will most often fail.

[2017-05-09 23:52] nuwang commented on #37
@MartinPaulo Thanks for fixing this. Closing issue.

[2017-05-09 23:52] #37 closed

[2017-05-10 02:34] MartinPaulo opened #42 "OpenStackFloatingIP in_use method doesn't necessarily return the correct result"
When run against the nectar cloud the test_crud_network_service method fails as follows.

[code]
When digging into the code it is found that the OpenStackFloatingIP in_use method tests the floating IP status, and if it is found to be 'ACTIVE' returns True. However, on our nectar cloud a newly created floating IP is set to 'ACTIVE' by default - even though it is not in use. A quick trawl through th

[2017-05-10 04:38] MartinPaulo commented on #42
I've been trying to work out what indicates if a neutron floating ip is in use or not. The guys here say "port_id is set". Looking at the shade code  [shade/shade/_normalize.py](https://github.com/openstack-infra/shade/blob/fcf76a9ca981ff4731e3c1f7b58729a04ed13f37/shade/_normalize.py) the `_normalize_floating_ip` method has the following line `attached = bool(port_id)`, so it looks like the guys a

[2017-05-16 15:57] afgane commented on #42
Fixed in #43.

[2017-05-16 15:57] #42 closed

[2017-05-16 21:51] afgane commented on #39
This looks like it was fixed in #40 so closing the issue.

[2017-05-16 21:51] #39 closed

[2017-05-29 07:20] nuwang commented on #35
Fixed by @MartinPaulo in: https://github.com/gvlproject/cloudbridge/pull/41

[2017-05-29 07:20] #35 closed

[2017-06-09 19:51] machristie opened #45 "GCECloudProvider: which config options are necessary?"
I'm looking at the config options for GCECloudProvider and have noticed the following:
* 'gce_client_email' appears to not be used anywhere in the code. Regardless, it is also present in the credentials file so it seems redundant to specify it as a config option too.
* 'gce_project_name' is used but likewise the project id is available in the credentials file.

It would be better to just configure

[2017-06-09 19:55] machristie opened #46 "KeyError: 'items' when trying to create GCE keypair"
Getting an error when following the CloudBridge tutorial at the part where I try to create a keypair:

[code]

I can successfully list compute images and instance types so I know my setup works.

@afgane @nuwang @mbookman

[2017-06-13 08:00] nuwang commented on #46
@machristie This has been fixed in: https://github.com/gvlproject/cloudbridge/pull/33
It's awaiting review.

[2017-06-14 16:27] machristie opened #47 "GCEInstanceService.create doesn't return created instance"
The following code, based on the tutorial, doesn't work because GCEInstanceService.create doesn't return the created instance

[code]

Fails with error
[code]

I confirmed through the Google Cloud Engine dashboard that the instance was in fact created.

[2017-06-14 16:38] machristie opened #48 "GCEInstanceService.find returns a list of instances"
InstanceService find method documentation says
[code]

However AWSInstanceService.find also returns a list, so I'm not sure if maybe this is a bug in the interface.  Since instance names should be unique it does make sense to me that find would only return a single instance (or None if not found).

[2017-06-14 19:23] afgane commented on #47
I've tried adding `return GCEInstance(self.provider, response)` to the bottom of `GCEInstanceService.create` method but am getting `HttpAccessTokenRefreshError: invalid_scope: Empty or missing scope not allowed.` when calling the `wait_till_ready` method (as well as a few others, such as `refresh`). Ping @baizhang

[2017-06-14 19:27] afgane commented on #48
This is actually a bug in the interface docs because, for the case of AWS and OpenStack, multiple instances can have the same name. `.get` method can be used to get a specific one. I'll update the docs in the interface.

[2017-06-14 19:30] #48 closed

[2017-06-15 07:22] baizhang commented on #47
There are two issues here.

First, the create method did not return the newly created instance. And `return GCEInstance(self.provider, response)` did not work, because `response` is a zone operation resource (instead of the instance resource). Commit 5bd1d05 fixes this problems by returning the newly created instance and also making this call block till the operation is complete.

The second issue

[2017-06-22 16:34] nuwang opened #49 "Add an import_key_pair option + expose public ssh key"
Create key pair doesn't expose public ssh key. We also need a way to import an existing keypair.

Therefore, we can combine both requirements to always generate the public, private key locally from within create_key_pair, and then call import_key_pair internally to upload that keypair.

- [x] Add import_key_pair public method
- [x] Change create_key_pair to generate keypairs locally and then deleg

[2017-08-04 18:34] chiniforooshan opened #54 "Does Galaxy need multi-regionality?"
An AWS VPC is created in a single region and AWS supports adding one or more subnets in each availability zone. On the other hand, in GCP, a VPC is a global resource, spanning all regions. GCP supports adding subnets in each region. IMO, the simplest way to unify the API in CloudBridge is to restrict everything to a project-default region (and perhaps get rid of the region service/resource altoget

[2017-08-04 20:31] mbookman opened #55 "Update tests and cloudbridge code to restrict resource names"
In https://github.com/gvlproject/cloudbridge/pull/44#issuecomment-308033516, @nuwang indicated:

From the GCP implementation perspective, this would be great. We don't really have any good alternatives (note that GCE accepts _dashes_, rather than _underscores_).

The current set of tests, run against GCP, are failing because resource names in the tests do not follow the above assumptions. Can we g

[2017-08-04 20:40] afgane commented on #54
Nuwan and I had a chat about this just now and feel that a better solution would be to keep the interface as is; namely, require the `zone` to be supplied as a parameter when creating a `Subnet`. Then, internal to the GCE provider, the region to which the supplied zone belongs to can be extracted and used in the request. For example, OpenStack implementation adheres to the interface but simply [ig

[2017-08-11 10:34] nuwang opened #56 "Find() method is inconsistent"
The find method lacks consistency across the interface. The following signatures exist:
find(self, name)
find(self, **kwargs)
find(self, name, limit=None, marker=None)

Currently, we only have a meaningful search by name.
Ideally, it should be something like the following:
1. Find will allow for filtering by any public attribute on the resource. (e.g. img.find(size > 4)
   or instance_type.find(ra

[2017-08-11 10:36] nuwang commented on #46
Fix merged.

[2017-08-11 10:36] #46 closed

[2017-08-16 15:34] nuwang commented on #55
@mbookman @baizhang @chiniforooshan This commit: https://github.com/gvlproject/cloudbridge/commit/cc5a86a2ba5870db9e09b251c3e3dd1a33fcc832 refactors the tests so that we can soon uniformly enforce identifier checks across the whole of cloudbridge. I was trying to write the enforcement code now and ran across a few issues. Enis, Marcus and I had a discussion about them, so I'll just write down our

[2017-08-16 15:56] chiniforooshan commented on #55
How does this work for `find` methods, for example?

[2017-08-16 17:50] nuwang commented on #55
Noting the meeting outcome for completeness:

CloudBridge:
   * will implement the same restrictions as GCE labels across the whole library

CloudLaunch:
* Will not allow upper case letters and will make the restrictions visible to the user.
* Will label field as "host name" or some such to make the restrictions more expected for the user.

[2017-08-21 08:40] nuwang opened #57 "Subnets do not implement ObjectLifeCycle"
Subnets in AWS have a state property {pending | available}, but do not implement ObjectLifeCycle.
http://docs.aws.amazon.com/cli/latest/reference/ec2/describe-subnets.html

[2017-08-22 13:36] #57 closed

[2017-08-22 13:40] nuwang commented on #55
Name enforcement is now done through these tests: https://github.com/gvlproject/cloudbridge/commit/980a6f6e460ce063c8d0169a488a857513817290

It needs to be enhanced a little, so that names are also enforced at object creation time, but as of now, all test object names conform to GCE label restrictions.

[2017-08-29 18:35] afgane commented on #34
Fixing this as part of a larger networking setup redo to remove provider-specific handling and provide more consistent abstractions. Here is a rough todo:

- [ ] Move `provider.network` services one level deeper to `provider.networking.networks`; include `provider.networking.subnets` service.
- [ ] Update tests
- [ ] Update docs relevant to the above steps
- [ ] Add `RouterService` (also under `ne

[2017-08-29 18:45] VJalili commented on #34
The current implementation of Galaxy ObjectStore does not leverage on the networking features of the cloudbridge. So, I guess it would be safe from Galaxy stand-point to make these changes.

[2017-08-30 19:57] nuwang commented on #9
Some possible strategies for wrapping exceptions and handling other cross-cutting concerns:

1. Do it individually at base class level
[code]

2. Do it globally
https://stackoverflow.com/questions/16961914/python-logging-all-of-a-class-methods-without-decorating-each-one

3. Use an AOP library
https://stackoverflow.com/questions/286958/any-aop-support-library-for-python

[2017-08-30 20:31] VJalili commented on #9
Given my .NET background, I prefer:
- implement a concrete logic as to avoid exceptions as much as possible; basically you prevent or have multiple backup plans for exceptions.
- handle un-avoidable exceptions globally.

[2017-08-30 22:07] afgane opened #60 "test_crud_snapshot delete reverting"
OpenStack tests when run on Jetstream keep timing out lately and here's the where it happens although it's not at all clear why: https://github.com/gvlproject/cloudbridge/blob/master/test/test_block_store_service.py#L149

Adding a few print statements to that code:
[code]

the following is shown. OSS and `<Response>` bits I added in the OpenStack snap delete implementation (https://github.com/gvlp

[2017-08-31 20:30] nuwang commented on #60
This looks like an issue with Jetstream. Works fine on DevStack.

[2017-08-31 20:31] nuwang opened #63 "Zone parameter in subnet.create()"
Do we need the zone parameter anymore? It would seem like we should either make it mandatory or remove it altogether?

[2017-08-31 21:29] afgane commented on #63
Amazon's subnets are zone-specific. So if a user requests placement for a launched instance, we need to be able to specify the zone where to create the subnet. An alternative is to create the subnet in every zone in the region but then the `create` method would return multiple subnets for AWS, which makes no sense. On the other hand, OpenStack ignores subnet zone altogether.

So it's easy to requi

[2017-09-01 09:09] nuwang opened #64 "Non-portable bucket.create()"
The code here: https://github.com/galaxyproject/galaxy/pull/4487/files#r135651386  suggests that the process for creating a bucket is not portable across clouds. For example, if we test this code on OpenStack, it might work in one go, and one might not think of writing a loop to retry till the bucket is available. However, when run on AWS, it would fall over due to the lack of a loop.

We should p

[2017-09-01 13:29] nuwang opened #65 "Where to place SecurityGroups?"
1. In OpenStack, SecurityGroups appear under networking.
2. In AWS,  SecurityGroups appear under "Security and Networking" in EC2 and also under "Security" in VPCs (along with Network ACLs).
3. In Azure, only network security groups are available. I'm not sure that the current implementation of SecurityGroups in CB-Azure is correct - I don't think the NSG is being restricted to a VM.
4. In GCE, th

[2017-09-05 19:24] nuwang commented on #64
Closing because this issue has not been triggered in the recent past, and until it becomes a problem, I guess we can close this.

[2017-09-05 19:24] #64 closed

[2017-09-06 13:54] machristie commented on #45
I removed the redundant fields in #53

[2017-09-06 13:54] #45 closed

[2017-09-06 16:53] afgane opened #69 "v0.4 interface changes RFC"
After some discussions and based on using CloudBridge for developing CloudLaunch, we're thinking about a few changes to the interface with the intent of providing a more consistent experience and better logical grouping of services.

We've already made changes to the networking side of the library where multiple services got pushed under `provider.networking` vs. mixing `NetworkService` and`Subnet

[2017-09-06 17:18] nuwang commented on #65
Conclusions documented here: https://github.com/gvlproject/cloudbridge/issues/69

[2017-09-06 17:18] #65 closed

[2017-09-06 18:27] VJalili commented on #69
Generally I don't like changes to interfaces, but this one worth it, cos `block_store` and `object_store` has always puzzled me. However, I think we might be able to improve it a bit further. For instance, do think merging `volume`, `snapshot`, and `bucket` into one single entity makes any sense?

In addition, `bucket` and `blob` are accepted terms, and maybe using the term `bucket` to refer to tw

[2017-09-06 18:54] afgane commented on #69
What do you mean by merging `volume`, `snapshot`, and `bucket` into one single entity? The recommendation is to keep them grouped under `provider.storage` but each as an individual service, like so: `provider.storage.volumes.Volume`, `provider.storage.snapshots.Snapshot`, and `provider.storage.buckets.Bucket`.

Re. naming, we looked at AWS, Azure, GCE, and OpenStack as examples for common/accepted

[2017-09-06 20:13] VJalili commented on #69
I guess my question would be: could you store a given file on `volume`, `snapshot`, and `bucket`? You're putting all under `storage`, so I read: "I have three storage types, with some underlying differences, which I can use _all_ to store/retrieve data."

- If this is a correct point (which I guess it is not), then you have overlapping functionality, and so you should have a common access to all.

[2017-09-06 21:34] afgane commented on #69
The storage module would group storage resources and not deal with files or how data is managed. So `volume`, `snapshot`, and `bucket` modules offer management capabilities for respective storage resources but how those are used is up to the developer. Technically, each of the three offers different functionality and features so they're not really redundant. One that's still missing would be a man

[2017-09-07 12:57] nuwang opened #70 "Implement refresh() method for all resources and make securitygroup.name updatable."
It seems logical to have a refresh method for most, if not all resources. For example, securitygroups do not have a refresh() method. Also, the security group's name property is not updatable.

[2017-09-07 19:31] nuwang commented on #55
This has been completed in: https://github.com/gvlproject/cloudbridge/pull/71

[2017-09-07 19:31] #55 closed

[2017-09-07 19:36] nuwang commented on #55
@mbookman @chiniforooshan @baizhang
I should have added. You can call the inherited resource method self.assert_valid_resource_name(name) at the top of each method to ensure that the name is validated before use. e.g. https://github.com/gvlproject/cloudbridge/pull/71/files#diff-bbda26f5170ea722a751387766bcf77aR575

If using it from a service, you'll have to call it through the resource class: http

[2017-09-07 20:59] VJalili commented on #69
So we agree on the second point I mentioned :) I think we could agree on `storage` name for the time being, and refactor in future in case it cause some misunderstanding.

[2017-09-18 16:04] nuwang opened #75 "Limit AWS images to owner by default?"
The AWS image service doesn't appear to provide any paging capabilities: https://stackoverflow.com/questions/24036068/how-to-limit-the-ouput-of-get-all-images-in-amazon-boto

This makes the tests run very slowly against AWS. Should we restrict these to the owner? or do something else?

[2017-09-18 20:55] afgane commented on #75
The AWS dashboard lists _Owned by me_ images by default so I'd say that's a reasonable default for us as well. However, it's a bit undesirable that such filtering applies to AWS only though.

[2017-09-19 06:20] VJalili opened #76 "File integrity check"
Maybe it would be useful if we could expose means of assessing the integrity of a file. I can think of the following scenarios:

1. check if a file is correctly uploaded to S3. For this, first calculate the file's checksum using a hash function (e.g., MD5, SHA256), then compare it with S3 generated checksum. If the two hash values match, then the file is correctly upload; otherwise retry uploading

[2017-09-19 07:21] nuwang commented on #76
I think this would be a really nice feature to have. There are several hurdles to overcome.

1. The first one is the issue that you highlighted - do all providers expose the same cheksum?:
They do appear to if the file is not chunked as far as I can see. The ETag exposes the md5 sum. However, for chunked files, it's a mixed bag: [aws](https://stackoverflow.com/a/19304527), [azure](https://stackove

[2017-09-19 08:16] VJalili commented on #76
They do appear to if the file is not chunked as far as I can see. The ETag exposes the md5 sum. However, for chunked files, it's a mixed bag: aws, azure, gce, openstack

This is gonna be tricky :(

Let me highlight two points: (a) I think we would better expose one checksum regardless of the file size, I guess we get one checksum for an object from S3 no matter what the size is; (b) it is a very s

[2017-09-19 09:43] nuwang commented on #76
Even for chunked objects, I think a single checksum is exposed by the providers (That single checksum appears to be calculated by hashing the individual chunks, but we only need to care about that if we have to reproduce the hash ourselves I guess).

Yes, that's correct, and agree.

I agree that checksums should not be cached by cloudbridge and nor can it, since there's no stored state. Therefore,

[2017-09-19 09:56] nuwang commented on #75
I have this vague recollection that the GCE provider was running into similar issues. It makes sense I guess, since there are potentially thousands of images, and it doesn't make sense to page through them all - you'd typically want to find a particular image by name, architecture or some other attribute.

What if we do this? Calling list() by default adds the "Owned by me" filter. If you call fin

[2017-09-19 16:33] VJalili commented on #76
It would be awesome if we could implement "upload verification" internally leveraging on checksum. Such that, we compute a checksum of the file before uploading, then compare it with the provider provided checksum, then if match: return true from the upload function; otherwise: return false. Accordingly, the user does not need to know what mechanism we're using to verify integrity of the upload, b

[2017-09-20 07:27] nuwang commented on #76
It looks like boto is verifying each chunk [already]( https://github.com/boto/boto3/issues/845), so we may not need to do anything for AWS. Swift does the [same](https://github.com/openstack/python-swiftclient/blob/e1945ea0fac3badd23013b5b559be1f8a79bf114/ChangeLog#L206) and supports a checksum=True/False parameter to control it, but it's on by default. I'm guessing AWS and GCE are likely to be th

[2017-09-20 13:02] VJalili commented on #76
That solves the integrity verification of the uploaded file. So, we just need to inform a user (in documentation maybe) that upload verification is checksum-based. However, we are still gonna need exposing checksum of an uploaded file.

[2017-09-21 11:32] nuwang commented on #22
Done in https://github.com/gvlproject/cloudbridge/pull/77

[2017-09-21 11:32] #22 closed

[2017-09-21 11:39] nuwang commented on #11
Fixed.

[2017-09-21 11:39] #11 closed

[2017-09-21 11:43] nuwang opened #78 "Add wait_till_delete and other similar convenience methods"
At present, there are no convenient methods for handling this. As a result, we have issues like networks being left over because dependencies aren't deleted etc. These should probably be broken down into
- [] Identify list of wait tasks needed (use boto3 as a ref)
- [] Implement those common wait tasks (potentially redesigning our current waiting logic)

[2017-09-21 12:00] nuwang opened #79 "Use OpenStack SDK?"
Looks like we should be using the OpenStack SDK now: https://github.com/openstack/python-openstacksdk

[2017-09-21 17:46] nuwang opened #81 "Auto-inherited doc strings"
It would be nice to have all provider implementations inherit the base class docstrings automagically, in addition to their own docstrings. Boto3 may be a potential point of reference.

[2017-09-22 13:45] nuwang commented on #69
An additional two things is that we are planning to do is to make FloatingIPs and SecurityGroupRules be independent classes, moving their logic out into services. So security group rules would still be sg.rules, but you can do sg.rules.create(), sg.rules.get() and for sg in sg.rules etc, for greater consistency. Ditto for floating ips.

Task list for this:
- [ ] Rename `provider.compute.instance_t

[2017-09-22 13:52] nuwang commented on #60
Closing since this is probably a jetstream issue.

[2017-09-22 13:52] #60 closed

[2017-09-25 20:10] afgane opened #83 "Add services for Security Group rules and Floating IPs"
Managing Floating IPs and Security Groups is currently done via methods within the `NetworkService` (https://github.com/gvlproject/cloudbridge/blob/master/cloudbridge/cloud/interfaces/services.py#L670) and the Security Group resource (https://github.com/gvlproject/cloudbridge/blob/master/cloudbridge/cloud/interfaces/resources.py#L1720), respectively.

Instead, to keep the structure of the library

[2017-09-25 20:20] afgane opened #84 "Wrap provider-specific exceptions into CloudBridge ones"
While CloudBridge provides great abstraction from manipulating resources from multiple cloud providers through a single interface and shields the developer from discrepancies, this is not the case with exceptions. CloudBridge has minimal custom exceptions and when it raises an exception that originated on the provider side, it will just raise the original exception (e.g., https://github.com/gvlpro

[2017-09-25 20:29] afgane opened #85 "Log everything"
When debugging or developing, it's useful to get frequent and detailed logging messages. We should thus have log messages (at the `debug` level) at every method start and as appropriate elsewhere.

This is a rather mechanical task but will be super-useful in the long run!

[2017-09-26 09:53] nuwang opened #86 "Firewall rules protocol consistency"
Firewall rules can currently be one of TCP, UDP or ICMP. However, Azure does not support a direct ICMP property: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-nsg

Instead, you have to allow all traffic with * and explicitly disable TCP and UDP to simulate ICMP.

GCE seems to support ICMP.

[2017-09-28 00:54] vjcitn opened #87 "[aws provider] moto library not available!"
following the AWS set at http://cloudbridge.readthedocs.io/en/latest/getting_started.html

with
image_id = 'ami-2d39803a'  # Ubuntu 14.04 (HVM)

are there other setup steps required?

[2017-09-28 02:41] nuwang commented on #87
Thanks for reporting this. It's caused by a print statement when it should have been a log statement, and has since been fixed: https://github.com/gvlproject/cloudbridge/blob/master/cloudbridge/cloud/providers/aws/provider.py#L12

You can safely ignore this - it only comes up when you have a non dev-mode installation of cloudbridge.

[2017-09-28 02:52] nuwang opened #88 "network_id parameter in security_groups.create()"
The network_id parameter is optional in security_groups.create().
AWS does tie a security group to a network, but OS doesn't. Haven't checked GCE and Azure yet.
Should we remove it altogether or make it mandatory?

[2017-09-28 03:40] nuwang commented on #86
In addition, to main

[2017-09-28 04:08] vjcitn commented on #87
Thanks -- I was impatient -- it takes a while for the demonstration commands

print(provider.compute.images.list())

print(provider.security.security_groups.list())

print(provider.block_store.snapshots.list())

print(provider.object_store.list())

to return... I took the message to indicate an error state and killed the
script.

On Wed, Sep 27, 2017 at 10:41 PM, Nuwan Goonasekera <
notifications@

[2017-09-28 04:15] nuwang commented on #87
compute.images.list() is particularly slow, because it doesn't filter images by default. We are thinking of optimising that to only list images owned by the current user by default. It should probably not be the first command to try out in the getting started guide so we'll remove it. The other commands should finish reasonably quickly though. Thanks for the useful feedback.

[2017-09-28 15:09] nuwang commented on #69
The work has been completed in the following:
1. provider.compute.instance_types → provider.compute.vm_types in commit: https://github.com/gvlproject/cloudbridge/commit/3df1161aa751e66d65cffd34032e61d61070095e
2. Instance.terminate→ Instance.delete in commit: https://github.com/gvlproject/cloudbridge/commit/3df1161aa751e66d65cffd34032e61d61070095e
3. security_groups -> vm_firewall in PR: https://g

[2017-09-28 15:11] nuwang commented on #83
Fixed in commits: https://github.com/gvlproject/cloudbridge/commit/175ee982db57b3833f892a04007d4829ec03a112 and https://github.com/gvlproject/cloudbridge/commit/22f5a152fe02e0617aacf667fcb04104da6d99c3

[2017-09-28 15:11] #83 closed

[2017-09-28 15:13] nuwang commented on #79
Some preliminary work done for security groups only in: https://github.com/gvlproject/cloudbridge/commit/339a79cff355d68aa3a74b0c7a5e5652f9c925cb

[2017-09-28 15:15] nuwang commented on #87
Documentation fixed in commit: https://github.com/gvlproject/cloudbridge/commit/940fc7504d4bee75180816e70f6f67d7f608402c#diff-9bc8bf6e8d9db020cefce1fbc0426795R72

[2017-09-28 15:15] #87 closed

[2017-09-28 15:44] afgane commented on #69
Nice job overall!
Moving the bucket object handling methods feels like a good idea, I'm just not sure about the `BucketContainer` class name (https://github.com/gvlproject/cloudbridge/commit/23fc4b0297566451b3fc4c28924c87c26bf3ff9d#diff-94d4aadb8e485e76cac35132939f5383R2098). Perhaps `BucketObjects`? So we'd have a parallel with an individual `BucketObject`?

[2017-09-28 16:08] nuwang commented on #69
That was chosen to match this (VMFirewallRuleContainer): https://github.com/gvlproject/cloudbridge/commit/175ee982db57b3833f892a04007d4829ec03a112#diff-d07c836fa7812460062a81d2c0095263R670

I avoided calling it "Service" since it's not in the service class. I guess we should choose something that would make sense in both scenarios. The only saving grace is that the name is not directly exposed to

[2017-09-29 19:36] nuwang opened #90 "generate_temp_url for OpenStack and other providers"
Currently, only AWS has a generate_temp_url implementation. Both GCE and Azure have similar capabilities for generating temp_urls, so that should eventually come along.

OpenStack however, is somewhat different.
http://torgomatic.us/blog/2013/05/08/an-introduction-to-tempurl-in-openstack-swift/

Basically, to use temp_urls in OpenStack, you must first generate a secret key that is associated with

[2017-09-29 21:00] nuwang commented on #90
Looks like I've made a mistake. I forgot that a swift account corresponds to a project and not a user account. That invalidates that previous proposal and makes that issue far more difficult

[2017-09-30 05:33] nuwang commented on #90
So this seems to have stemmed from a misunderstanding on my part. It turns out that the "secret key" can actually be retrieved at will.
http://chianingwang.blogspot.com/2015/09/how-to-generate-tempurl-for-swift.html

I guess this solves the problem. We can simply check for the existence of a secret key, and if it doesn't exist, generate a new one.

[2017-09-30 06:00] VJalili commented on #90
I guess it would be better to not deal with secret (and/or access) key at cloudbridge level, so cloudbridge can rely on access and secret key provided to it by the user.

[2017-09-30 07:49] nuwang opened #91 "Introduce a collections/filtering mechanism for CloudBridge"
It would be nice to support a Django like query syntax for searching and filtering objects, which is something that Boto3 also supports.

For example, in Boto3, it's possible to filter a collection as follows:
[code]

These collection filters can also be chained:
[code]
You can also perform batch actions,  for example:
[code]
Which would delete all objects within the bucket. As with Django, the fi

[2017-10-01 08:10] nuwang commented on #56
In addition, the find() method implementation is currently incorrect in almost all cases. It accepts a limit, and marker, and often returns a PagedResultSet. However, since a PagedResultList simply calls list() to retrieve the next page of results, the original search parameters used in find() would be lost, meaning that the second page onwards would be a simple list of results which do not match

[2017-10-03 16:02] nuwang commented on #88
conclusion: make it mandatory

[2017-10-03 16:03] nuwang commented on #86
Conclusion: introduce Enum with TCP and UDP only for now.

[2017-10-03 16:07] nuwang commented on #75
Conclusion: By default, list will show images belonging to the project. However, if you do a "find", it searches everything. Have parameter filter_by_owner=True/False

[2017-10-03 16:11] nuwang commented on #63
conclusion: make zone mandatory for subnet.create()

[2017-10-03 16:18] nuwang commented on #56
conclusions:
remove limit and marker from sig
make sig: find(self, **kwargs)
Defer the rest for a future implementation that would include a base class implementation to filter by all Resource public properties.

[2017-10-04 03:25] afgane opened #92 "Instance needs the subnet property"
Instance objects do not have a property for which subnet they belong to (for info purposes or so other instances can be launched to match). While it's easy for the AWS and Azure side, OpenStack associates an instance w/ the network only?

[2017-10-04 07:43] nuwang commented on #92
Good idea. For OpenStack, we'll need to infer the subnet from the port I guess - probably do the reverse of this:
https://github.com/gvlproject/cloudbridge/commit/f2241fb45e1afd849dfd63f6877edacff75a8518

However, if I recall correctly, it's possible for an instances to have multiple ports connected to different subnets. In that case, we can probably just return instance.nics[0].subnet?

[2017-10-06 02:57] afgane commented on #75
I added the filtering but I don't recall if we said the `filter_by_owner` should be added at the interface level and hence implemented for all the providers or something else?

[2017-10-06 09:35] nuwang commented on #75
Yes, the conclusion was to add it at interface level for all providers for the list method, but remove it when doing a find etc.

[2017-10-06 12:57] nuwang opened #95 "AWS vm_types extra_data not returning valid values"
Returns:
[code]
instead of key: value pairs.

Needs a test to prevent future regressions too.

[2017-10-10 10:10] #85 closed

[2017-10-13 20:07] mbookman commented on #47
I believe that this can be closed.
It was fixed by Bai's change: 5bd1d052408dfa4eb7d0654f5f35dd45e9891533.
@machristie @nuwang @afgane, please confirm.

[2017-10-13 20:12] mbookman commented on #32
`KeyError: 'methods'` should be fixed. The code now indicates:

  methods = resource_desc.get('methods', {})

[2017-10-13 20:31] mbookman commented on #32
`instance.create method does not return an Instance object of the instance that was just created.`: is fixed.

[2017-10-13 22:48] afgane commented on #32
Thanks for following up here. I've updated the issue list. While all but one listed issue were resolved,  I did add one more now that I encountered when trying to launch an instance. I see there's a TODO lingering (https://github.com/gvlproject/cloudbridge/blob/gce/cloudbridge/cloud/providers/gce/services.py#L476) so I'm just going to guess that's causing this but figured it was good to include he

[2017-10-16 12:09] nuwang commented on #86
@afgane This may not work after all. Restricting to TCP and UDP only is fine for setting values, but when retrieving values, * or ICMP could be a returned protocol. I think we may need something more.

[2017-10-16 16:02] afgane commented on #75
Finished up with https://github.com/gvlproject/cloudbridge/commit/c7b46a3b4dfa02dabf1c994aad40df557faef5ad

[2017-10-16 16:02] #75 closed

[2017-10-18 19:56] nuwang opened #99 "Add connectivity tests for NeCTAR, JetStream and DevStack"
Connectivity errors occur often against openstack instances, based on configuration, but once connected, testing against devstack seems sufficient.

So we need to make our connectivity tests run against NeCTAR, JetStream and DevStack.

[2017-10-25 06:19] nuwang opened #100 "Create a contract enforcement layer"
Something that would be desirable is a cloudbridge-wide, "contract enforcement layer", that operates above the individual providers. This layer could do provider-independent contract enforcement, like ensuring parameter combinations make sense, that all method calls are logged, that exceptions are wrapped etc. before and after calling the provider implementation layer. At present, we do not have t

[2017-10-27 00:09] Dyex719 commented on #63
All the instances of subnet.create() [https://github.com/gvlproject/cloudbridge/search?l=Python&q=subnets.create&type=&utf8=%E2%9C%93] are included in the function create_subnet() [https://github.com/gvlproject/cloudbridge/blob/0fb03d21102466250be5a1d8056dd05091f690e5/cloudbridge/cloud/base/resources.py/#L940] which takes a 'zone=None' parameter.
Should changing this to 'zone=zone' be enough?

[2017-10-27 00:15] Dyex719 commented on #63
I'm not sure whether I should add a  zone parameter to https://github.com/gvlproject/cloudbridge/blob/18305a38da71185041f4785ada12cb6498cde586/test/test_network_service.py#L78

[2017-10-27 01:54] nuwang commented on #63
@Dyex719 Yes, that sounds like a good plan. Starting with changing the test to include the zone parameter would probably be best.
[code]

[2017-10-27 12:57] Dyex719 commented on #63
Please refer to https://github.com/gvlproject/cloudbridge/pull/101.
Also should what I mentioned in above be done? That is, adding a zone parameter to https://github.com/gvlproject/cloudbridge/pull/101 to make it mandatory.

[2017-10-27 14:15] afgane commented on #63
Thanks for taking this on. Modifying the test is only a part of this though. It's also necessary to modify the interface for the`SubnetService` `create` method (https://github.com/gvlproject/cloudbridge/blob/master/cloudbridge/cloud/interfaces/services.py#L743) by removing the default `None` argument to the `zone` parameter. After that, the same should be done for each of the provider implementati

[2017-10-27 14:17] afgane commented on #63
Also, see the Travis tests output - there's a flake8 error: https://travis-ci.org/gvlproject/cloudbridge/jobs/293663371#L584

[2017-11-05 15:12] nuwang opened #103 "case sensitivity handling on openstack"
If multiple security groups with the same name exist when launching an instance, openstack will raise the following exception:
[code]
It looks like we need to make the firewalls.find() case insensitive, and possibly more widely for other resources too. Also, AWS behaviour is unknown.

[2017-11-09 10:09] nuwang opened #104 "Floating IP handling for OpenStack may be incorrect"
It looks like our assumption of taking the first available external network and connecting routers to that network does not work in NeCTAR. This is because, when floating ips are created, they are associated with a specific external network, as shown here:

[code]
The floating_network_id appears to be the id of the external network. Therefore, if the external network of the router, and the externa

[2017-11-09 15:36] nuwang commented on #104
Another solution may be to connect all external networks to each subnet. This means that a router has to be created for each external network and attached to the subnet.

[2017-11-09 22:48] afgane commented on #104
To be clear, by move under the internet gateway, you mean `provider.networking.gateways.<gateway>.floating_ips.*`?
Could we instead require a network when creating a floating IP and ignore it with the other providers (no other provider requires the network)?

[2017-11-10 11:09] nuwang commented on #104
I'm not sure we can support a network parameter consistently across providers. That's because the only valid networks will be external networks.

[2017-11-10 18:58] afgane commented on #104
Sure but we have the `.external` property on the networks and it would need to be clear in the docs that the supplied param needs to be an external network. We can do a check and raise an exception of that's not the case.

[2017-11-11 13:41] nuwang commented on #104
Right, we could probably do that. However, I'm not sure that's desirable - the main reason being - that's another concept to learn, filter by etc whereas we've already put in some effort to hide the "external" property because it's an openstack only concept. I think it would be great if we could structurally enable the right behaviour, so that when you do create a floating ip, you'd be naturally i

[2017-11-22 20:51] afgane commented on #104
Spent a good chunk of time on this and best way for me to reason about it was to run through a typical usage scenario (basically, the one documented here: http://cloudbridge.cloudve.org/en/latest/topics/networking.html (under step 2)

1. Create network netX
2. Create subnet snX
3. Create an instance within snX (netX)
4. Create a router for netX
    1. AWS: route table associated with netX
    2. O

[2017-11-23 19:13] nuwang opened #106 "Azure security group rule handling is problematic"
In Azure, the default security group rules are returned separately from user created rules. The current implementation only returns the user created rules. However, this causes this line: https://github.com/gvlproject/cloudbridge/blob/ed2587017fbc7af197aabc28c46be612faf93663/test/test_security_service.py#L172 of the test to fail, because there is no default outbound rule.

If we merge in the exist

[2017-11-24 07:16] nuwang opened #107 "Should we make keypair a mandatory parameter when launching instances?"
Currently, Azure requires the keypair as a mandatory parameter when launching an instance. The tests have been altered to support this. Maybe we need to make keypair a mandatory parameter?

[2017-11-24 11:48] nuwang commented on #107
Also related: https://github.com/gvlproject/cloudbridge/issues/49

[2017-11-27 14:24] afgane commented on #107
Yes.

[2017-11-27 16:02] afgane commented on #106
Summary of discussion:
Internally create a complement of the default rules to effectively negate them, creating an equal environment as with the other providers. Further, filter those implicit rules automatically within the `list` (and `delete` methods) so the user never sees those rules (as long as they're interacting with Azure through CloudBridge).

[2017-11-28 12:07] nuwang commented on #106
Closed by: https://github.com/gvlproject/cloudbridge/issues/106

[2017-11-28 12:07] #106 closed

[2017-11-29 04:00] afgane commented on #104
After much debating, the conclusion is to stick with the initial suggestion and move floating IPs under the internet gateway. It conceptually does make sense but requires the user to become aware of an additional concept, which is a drawback.

[2017-11-29 15:17] #49 closed

[2017-11-29 15:19] nuwang commented on #107
We now leave the keypair optional as is but generate a temp key for Azure during launch, if none has been provided: https://github.com/gvlproject/cloudbridge/commit/c18d898c6091527e8f2a9bf91f09bcf81b2a5ca3

[2017-11-29 15:19] #107 closed

[2017-11-29 15:32] nuwang opened #109 "Create an interceptor/middleware layer"
An interceptor/middleware layer would be extremely useful for cloudbridge. We could perform some generic functions like logging, resource tracking, profiling, audit trails etc. through such a mechanism.

References:
1. http://boto3.readthedocs.io/en/latest/guide/events.html
2. https://angular.io/api/common/http/HttpInterceptor
3. https://docs.djangoproject.com/en/1.11/topics/http/middleware/

[2017-12-05 05:56] #56 closed

[2017-12-05 06:01] nuwang commented on #69
Closing this issue since all items are completed except for "Plan for eventual implementation of provider.security.net_firewall, representing network ACLs". Will create a new tracking issue tagged as a future enhancement.

[2017-12-05 06:01] #69 closed

[2017-12-05 06:03] nuwang opened #110 "Add provider.security.net_firewall service to represent network ACLs"
Continuation of issue originally flagged in: https://github.com/gvlproject/cloudbridge/issues/69

We currently have a vm_firewall but do not have an abstraction for a network level firewall.
This cannot currently be addressed because OpenStack's FwaaS service is not available on NeCTAR or Jetstream. We will revisit this issue when it's available.

[2017-12-13 13:12] #95 closed

[2017-12-15 03:24] afgane commented on #104
Given we're now parameterizing `gateways` with a `network`, would it make sense to move `gateways` (and hence `FIPs`) under `network`? This came up as I tried to implement this new structure in the CloudLaunch API as getting a `gateway` (or a FIP) now needs a network. WIP branch available here https://github.com/CloudVE/djcloudbridge/tree/networking

[2017-12-15 13:59] nuwang commented on #104
I can't quite remember why we need to parameterize the internet gateway with the network again. Is it to help with attaching to the router? However, if we do need to do this, I see what you mean in terms of it being necessary to implement the cloudlaunch endpoint. In which case, we probably should?

[2017-12-15 16:08] afgane commented on #104
I believe the reason we decided to parameterize the gateway with a network was because of OpenStack so that when a floating IP is being created, it is created on the same network as the one the gateway is connected to, which is required with OpenStack. Without parameterizing it, the user would need to make sure the two networks are the same. The initial implementation assumed there is only one ext

[2017-12-15 19:46] afgane commented on #104
After a bit more discussion, we realized why the `network` parameter is necessary for the gateway and it's because of AWS. Without it, the notion of `get_or_create_inet_gateway` had no way to 'discover' an existing internet gateway that's properly connected. So short of picking a random one, we need the network to be able to filter the internet gateways for it vs. always creating a new one (as we

[2018-02-07 16:36] nuwang commented on #104
Related issue reported on launchpad in: https://bugs.launchpad.net/neutron/+bug/1743480

[2018-02-07 16:38] nuwang commented on #104
A workaround for the OpenStack bug above have been made in: https://github.com/gvlproject/cloudbridge/commit/7688d283fd401857fb7449c7dadc118a19d915aa
and https://github.com/gvlproject/cloudbridge/commit/879117a2a123e79623e26e7da2833c806e7381fb

I think this issue can be closed now.

[2018-02-07 16:38] #104 closed

[2018-02-07 23:28] #34 closed

[2018-02-07 23:28] afgane commented on #34
The interface has been updated so when GCE is merged forward it will account for the necessary changes.

[2018-02-07 23:40] #9 closed

[2018-02-07 23:41] afgane opened #112 "Add support for Snapshot sharing"
For CloudMan to share a volume and enable cluster cloning.

[2018-02-19 19:13] nuwang opened #115 "OpenStack returning ram per instance in MB instead of GB"
Also need to check azure and gce.

[2018-02-20 15:19] #115 closed

[2018-03-12 07:05] nuwang opened #117 "Make it easier to connect to cloud providers/regions and handle OpenStack differences"
Just noting this here as something we could discuss.

Currently,  it's a one-liner to connect to the default AWS/GCE/Azure region, but not that easy to connect to different regions. OpenStack is worse, because you also have to define provider specific settings, including endpoint.

Perhaps it would be a good idea to instead treat each cloud/region as a distinct provider, and have a one liner to co

[2018-03-20 12:36] nuwang commented on #109
Just documenting this here, Another potential interceptor could be a profile generator/enforcer. The profile generator would detect which public methods in cloudbridge are being used, and generate a yaml profile listing all the services/methods invoked. Subsequently, the profile enforcer would load that yaml file and make sure that methods outside of the profile are not called. Publishing these pr

[2018-03-28 18:16] VJalili opened #119 "[aws provider] moto library not available!"
Using cloudbridge in Galaxy to download data from AWS, I see the following message in terminal:

[code]
It does not look like an error, as I cloudbridge can still upload/download data to/from AWS S3. However, I was wondering if that is an issue that should worry me, or I can ignore it.

Just in case, here is how I'm using cloudbridge:

[code]

[2018-03-28 18:45] VJalili opened #120 "How to verify the validity of access credentials?"
What is the recommended approach for access credentials verification?

[2018-03-28 19:09] nuwang commented on #119
It's an old debug message: https://github.com/gvlproject/cloudbridge/blob/d40eb16fa2510c8f51c184cc0dcf38182bf50951/cloudbridge/cloud/providers/aws/provider.py#L14

It's been fixed a while back to use log.debug, but we haven't made a recent release yet with that fix. It's safe to ignore it.

[2018-03-28 19:10] #119 closed

[2018-03-28 19:16] nuwang commented on #120
The best way is to simply initialize the provider with the given credentials, then call the provider.authenticate() method, which is intended for that very purpose.
https://github.com/gvlproject/cloudbridge/blob/23fc4b0297566451b3fc4c28924c87c26bf3ff9d/cloudbridge/cloud/interfaces/provider.py#L58

[2018-03-28 19:55] VJalili commented on #119
Thanks.
I am using `0.3.3` version.

[2018-04-02 22:10] VJalili commented on #120
The function `authenticate` works fine when _invalid_ credentials are provided. For instance, when using AWS, the following  configuration can trigger `ProviderConnectionException` exception.

[code]

However, if one the keys is `None`, `authenticate` can trigger `URLError`. For instance, the following config triggers `URLError` error when `authenticate` function is called with the following trace

[2018-04-03 07:57] nuwang commented on #120
@VJalili Currently, authentication failures are caught in a generic catch block:
https://github.com/gvlproject/cloudbridge/blob/eb20e3d88f2893a6e281ceead7ab8fd3527be6af/cloudbridge/cloud/base/provider.py#L105

So all errors should be caught. Is this originating from a different line perhaps? Maybe the create_provider call?

[2018-04-03 17:25] VJalili commented on #120
This is a full stack trace. The error is originating from boto, so that might be a hint to trace this back.

Also, you're right, that generic exception should catch all these; though it is weird why it is not. Are you able to reproduce this error?

[2018-04-04 10:00] nuwang commented on #120
@VJalili I can't recreate it.

Here's the code I ran:
[code]

Here's the result:
[code]

It seems to correctly catch the error. Something that's unusual is that the stack trace you provided contains no classes from cloudbridge. It must be a partial trace if no cloudbridge classes are connected.

[2018-04-04 16:31] VJalili commented on #120
Interesting! would it be the cloudbridge version? I'm using current latest release, i.e., 0.3.3.

And here is how I check user authentication in Galaxy:

https://github.com/VJalili/galaxy/blob/70b669992b10682d45c519ef885667ddf52f381c/lib/galaxy/managers/cloud.py#L78-L82

It looks quite similar to your approach; so, not sure what is causing the issue on my end.

[2018-04-04 16:33] nuwang commented on #120
Can you try running the snipper I provided within galaxy's virtualenv and check the stack trace?

[2018-04-04 16:37] VJalili commented on #120
I get `invalid credentials` as you're getting. So, I guess there should be an error somewhere in that branch.

[2018-05-30 18:27] VJalili opened #122 "Update Azure Storage package to v1.0 or newer"
We're using `azure-storage`:

https://github.com/gvlproject/cloudbridge/blob/6f4ad9d43e36cf0064789214269a0d479cfed63b/setup.py#L34

however, this package is no longer supported, and it is now broken-down to smaller and separate packages (e.g., `azure-storage-blob`, `azure-storage-file`, and `azure-storage-queue`).

I recommend planning to make this transition (before `v1.0` release) as all newer f

[2018-07-05 00:13] afgane opened #126 "Inconsistent boto object returned for a key"
Turns out https://github.com/CloudVE/cloudbridge/commit/258303ab551967f237a160526ccd8f2c8e2daaf4 is not a fix; it's only a flip:
[code]

Depending on whether we `get` an object or `list` an object, we're actually obtaining a different boto object: `s3.ObjectSummary` for the case of `list` and `s3.Object` for the case of `git`.

[2018-07-06 00:21] afgane commented on #126
We should always be using `Object` instead of `ObjectSummary` because `ObjectSummary` does not contain the object's full metadata or any of its contents: https://stackoverflow.com/questions/36438085/what-is-the-difference-between-an-s3-object-and-an-objectsummary

[2018-07-06 00:42] #126 closed

[2018-07-14 00:55] #92 closed

[2018-07-16 18:39] VJalili opened #128 "Support multiple signatures of `BlockBlobService`"
The class `BlockBlobService` has multiple signatures, and some are available only in the newer versions of Azure libraries (e.g., v1.0 of `azure.storage.blob`). Therefore, IMHO it would be useful to support various signatures of the `BlockBlobService` class once the issue [#122](https://github.com/CloudVE/cloudbridge/issues/122) is resolved.

[2018-07-20 01:16] afgane opened #129 "Remove the default value for generate_url expires_in param"
Currently, the default value for the `generate_url` is set to 0, which makes the generated URL not work if no value for the param is supplied. We should change this to either require a value or set it to another value (AWS uses 3600 seconds, for example)?

[2018-07-25 05:09] nuwang opened #131 "Document that Name property updates will result in cloud-dependent code"
Since GCE does not support updating the name property on many types of resources, writing code that relies on changing the name after resource creation will no longer be cloud-independent. Documenting here that the decision we came to was to leave support for renaming resources as is on other cloud providers, so you could still do it in a pinch, but document very clearly that it should not be done

[2018-08-02 17:46] afgane commented on #129
Done in https://github.com/CloudVE/cloudbridge/commit/a322011bf28b60e9e4a1a19b05c844192e258597

[2018-08-02 17:46] #129 closed

[2018-08-02 17:48] almahmoud commented on #122
Done in https://github.com/CloudVE/cloudbridge/commit/5e30f2e86c0ab33fd2fa652de9b31a4a4a6b688b

[2018-08-02 17:48] #122 closed

[2018-08-02 17:55] afgane commented on #70
Completed with object refresh in https://github.com/CloudVE/cloudbridge/commit/98959fc870379ccf7d415090c982cd23d8398f5e

[2018-08-02 18:27] nuwang commented on #70
Name property is not updatable?

[2018-08-02 18:28] almahmoud opened #132 "Azure server-side paging"
For Azure, paging is always handled client-side now, as all pages are iterated through and resources are then wrapped for client-side paging. We could implement server-side paging for Azure: https://github.com/Azure/msrest-for-python/blob/master/msrest/paging.py possibly using the  next_link property as a marker?

[2018-08-02 21:49] afgane commented on #63
Done in #101.

[2018-08-02 21:49] #63 closed

[2018-08-02 22:50] almahmoud commented on #70
OS name setter in https://github.com/CloudVE/cloudbridge/commit/e88276a5e73f8ca9c35ed770d39cfc96f8d4fcf5

AWS security groups have a 'Group Name' which can't be changed. A name tag could be used if we want to make it updatable.

[2018-08-03 00:30] #131 closed

[2018-08-03 11:44] mvdbeek opened #133 "new release possible ?"
Any chance we could get a new release soon ?
cloudbridge 0.3.3 [requires boto <= 2.46.1](https://github.com/CloudVE/cloudbridge/blob/v0.3.3/setup.py#L25), while the current master branch doesn't use boto anymore.

This pin causes some dependency conflicts in galaxy, which uses cloudbridge in the cloud object store.

[2018-08-03 12:24] afgane commented on #133
The new release is coming next week. We have been working on the release
tagged issues for a while now and @vjalili will do one remaining bit on
Monday before we can package the release.

[2018-08-03 12:27] mvdbeek commented on #133
Cool, looking forward to this!

[2018-08-03 21:17] #70 closed

[2018-08-06 15:43] nuwang opened #134 "Too many dependencies being installed"
It looks like we are installing a lot of unnecessary dependencies, which increases the time it takes to install or upgrade cloudbridge.

For example, even azure-batch is being installed, although we do not use it.

Another place we can potentially optimise is the openstack sdk, which is much smaller than the older clients. However, since we have not fully transitioned from the old client, we are i

[2018-08-06 16:01] afgane commented on #134
With Azure, we're installing only the `azure` bundle (https://pypi.org/project/azure/), which does install a number of libs we're not using and I think that was done for simplicity of not needing to keep up with a combination of libs that work together (https://github.com/CloudVE/cloudbridge/commit/5e30f2e86c0ab33fd2fa652de9b31a4a4a6b688b#diff-2eeaed663bd0d25b7e608891384b7298).

[2018-08-06 16:15] nuwang commented on #134
I think the simplicity factor is a plus, but I brought this up because it's amazingly slow to install now. So much so that you feel it very significantly, which conveys the idea that cloudbridge is a bloated library, when in fact, it's pretty simple. I think we should revert back to the old way because this hit is way too great, and just get a list of compatible libraries by simply going through t

[2018-08-06 17:51] afgane commented on #134
It takes a minute and a half to install (on Travis at least), which is not super fast but doesn't seem unreasonable unless it's being installed daily. I'm curious how much would it shave off to remove the few extra libs? Overall, we're very clear in the docs that CloudBridge wraps other libs for functionality so it's somewhat understood that it should install a number of them. I'm not at all oppos

[2018-08-06 21:29] almahmoud commented on #134
I think the main reason we went to the single azure library was that some of the dependencies for the smaller libraries conflicted and they wouldn't all get installed properly when listed separately. However, they have (supposedly) fixed dependency issues (again) with their recent 4.0 release (4 days ago) so I can try reverting back to see if it works now and how much time it saves.

[2018-08-06 21:34] VJalili opened #135 "How does Cloudbridge determine an Azure storage account?"
I use the following script to read an object named `abc` from Azure:

[code]
Running this script, I get the following error: `Azure Error: AuthorizationFailed`.

(I tested my credentials for getting the same object using a custom code (without using cloudbridge), and it works.)

I am guessing that the issue is cause by how _storage account_ is determined in cloudbridge:

https://github.com/CloudVE

[2018-08-07 00:18] VJalili commented on #135
I fixed the issue, and here is what I did to fix it, and my recommendations:

- [ ] As explained [in the cloudbridge docs](http://cloudbridge.readthedocs.io/en/latest/getting_started.html#create-a-provider), the following keys are the _only required_ configuration arguments to initialize an instance of Azure backend:
[code]
While these information could be sufficient for compute instances, they ar

[2018-08-07 00:44] afgane commented on #135
Interpreting this, it sounds like `azure_storage_account` and `azure_resource_group` are required if the account does not have the *owner* role. If the account has the given role, CB will create the necessary resources and proceed. So my take on this is that we if the values are not provided, we attempt to create the resources and if that fails, raise an exception saying we were not able to create

[2018-08-07 01:07] VJalili commented on #135
I think at the moment it works as you said. However, IMHO and based on the _principle of least privilege_, CB should not assume that a user (or a service principal) has such access. Because if credentials are compromised, they provide anyone in possession of credentials, with an unlimited access to the tenant account. Therefore, I think it would be safer if: (a) CB treats `azure_storage_account` a

[2018-08-07 01:51] afgane commented on #135
The way I see it is that CB is a library, not an application and it just normalizes the requests vs. imposing usage requirements. If, for example, from CloudLaunch or Galaxy standpoint, we'd like to enable seamless use of Azure without requiring the user to get involved with the internal provider concepts, I feel it should be possible. Also, for power-users that want to create higher-level applica

[2018-08-07 12:38] nuwang commented on #135
It looks to me like a critical issue here is the lack of the exists() method or a corresponding test, which should have caught this issue at the very outset. Nice work tracking that down!

WRT to the storage account, I can see why both sides of the argument are appealing. On the one hand, we use cloudbridge for power-user functions, and in this case, it's a hassle to have to manually create the st

[2018-08-07 18:29] VJalili commented on #135
I think this was a problem with my branch; updating it I don't see `exists` method in `BucketContainer` interface. (I think you have removed `exists` method whit [this commit](https://github.com/CloudVE/cloudbridge/commit/ffa93759fc22204b12c3791c2c438b8c0ca6433c#diff-94d4aadb8e485e76cac35132939f5383).)

[2018-08-07 19:39] afgane commented on #135
I think `get` should be the method used instead now.

[2018-08-12 14:55] nuwang commented on #133
@mvdbeek We've run into some new issues, so it's taking a little longer than expected. Since this is v1.0.0, we are trying to get the interface as stable as possible before the release.

[2018-08-12 15:00] nuwang commented on #120
@VJalili I take it we can close this?

[2018-08-12 17:51] mvdbeek commented on #133
No worries, I should have mentioned that I worked around this, and ultimately it wasn't even cloudbridge that was brining in the dependency, that was actually the genomespace client, which we can and should provide via Conda. Good luck with the release!

[2018-08-12 17:54] VJalili commented on #120
@nuwang I'm capturing `None` credentials before passing them cloudbridge; hence, I can capture/prevent the discussed issue. However, I think it would be better if cloudbridge can catch cases where credentials are `None`.

For now, I think we can close this issue.

[2018-08-12 17:54] #120 closed

[2018-08-12 18:28] nuwang commented on #134
I've tested the install time and size for the two variants on my machine. The azure umbrella package takes about 3.5 minutes to install. The individual libs take about 2.5. In addition, it takes 100MB less disk space in the venv. I think these gains are worth the the slight additional hassle of having to go through the azure package to find out which libs are compatible with each other, so I've re

[2018-08-13 03:10] nuwang opened #137 "Failure to import one provider results in all providers failing"
For example: https://travis-ci.org/CloudVE/cloudbridge/jobs/415170457

On the pro side, this makes it easier to spot installation errors across all providers, rather than only spotting them at runtime.
On the con side, it won't be possible to use any provider, even if you're uninterested in the one that's failing.

Another alternative is to print a warning prominently.

[2018-08-14 18:15] almahmoud opened #138 "Azure User Credentials"
We could explore the possibility to add support in Azure for users to use their login credentials directly rather than have to set up an app through the portal.
https://docs.microsoft.com/en-us/python/api/overview/azure/authorization?view=azure-python

[2018-08-16 18:03] almahmoud opened #140 "Unicode vs ASCII discrepancy in config"
In Python 2, `_get_config_value` function in `base/provider.py` returns an ASCII string when the configuration comes from a dict, and a unicode string when the configuration comes from file.

[2018-08-17 14:29] afgane commented on #128
Done in #136.

[2018-08-17 14:29] #128 closed

[2018-08-17 14:35] afgane commented on #135
Partially addressed in https://github.com/CloudVE/cloudbridge/commit/3e9a301d63091b329bd01bc8c36867694a22d19e#diff-072844f302e1dd21f708eeb73d61557fR318.

[2018-08-17 15:06] VJalili commented on #135
@afgane that sounds good, thanks! I think that should be enough for now.

[2018-08-17 15:06] #135 closed

[2018-08-17 15:44] almahmoud opened #141 "Find method Azure KeyPairService"
Right now, the `find` method in `AzureKeyPairService` always returns a list with only one item, essentially duplicating `get` and wrapping it in a singleton list (name and id are the same property at the moment).
We could alternatively have it list all keypairs within a Resource Group & Storage Account, and do a non-exact match that would return a list with all matches (similar to the OpenStack im

[2018-08-21 16:52] nuwang opened #142 "Replace resource name with display_id + label as required"
xref:
https://docs.google.com/spreadsheets/d/1wuM-JKtskSwHTAXmtU4o1rFy8SqE_MHBMGDPTPu2bh8/edit?usp=sharing

[2018-08-21 16:54] #90 closed

[2018-08-22 14:51] nuwang commented on #140
Can we add a test for this? I think a simple is_unicode kind of test would be good.

[2018-08-22 16:14] #140 closed

[2018-08-22 16:16] afgane commented on #140
Did env and config as well as types but not ini as that would require creating a file on the test server and that seems overstepping a bit.

[2018-08-22 20:51] almahmoud opened #143 "Add global namespace for labeling"
Adding a config parameter that would override the default naming as an improvement to the default naming scheme from #142

[2018-08-24 18:29] almahmoud opened #144 "Azure Gateway"
We are now using a mock cloudbridge wrapper for Azure gateways, as they are not needed to connect an instance to a public IP (following this answer: https://social.msdn.microsoft.com/Forums/en-US/814ccee0-9fbb-4c04-8135-49d0aaea5f38/equivalent-of-aws-internet-gateways-in-azure?forum=WAVirtualMachinesVirtualNetwork).
However, a "Virtual Network Gateway" does exist to create custom routes.
https://d

[2018-08-27 20:05] #138 closed

[2018-09-24 20:27] afgane commented on #133
Done. See https://github.com/CloudVE/cloudbridge/releases

[2018-09-24 20:27] #133 closed

[2018-10-03 13:23] felix-wolfheimer opened #148 "AWS instance type list is incomplete"
Tried using the following code from the "getting started" page to query available instance types in AWS:

[code]
This gives me the following list of instance types:
[code]
This list seems incomplete as, e.g., GPU instance types (g3, p2, p3) are missing, also c4 instances are missing completely.

[2018-10-03 13:27] nuwang commented on #148
This is probably because you've used the list() method, which pages in results by default. Instead, try the built in iteration capabilities:
[code]
See here for more info: https://cloudbridge.readthedocs.io/en/latest/topics/paging_and_iteration.html

Let us know whether that solves the issue.

[2018-10-03 13:29] felix-wolfheimer opened #149 "Authentication using IAM instance role (AWS) or MSI (Azure)"
Storing credentials in the code, in the environment, or in config files, which is somehow considered to be not best practice, can be prevented by using the IAM role (AWS) or the MSI (Azure) of the instance on which the script is running (if running on an instance of the provider which is contacted by cloudbridge). The code doesn't seem to allow this currently. Having the option to use this type of

[2018-10-03 14:04] nuwang commented on #149
Thanks for this suggestion. If you're in a position to make a PR for this, that would be excellent. Perhaps @VJalili has some comments on this.

[2018-10-03 14:06] felix-wolfheimer opened #150 "Example code errors"
The code on the example page has errors:

1. The key name is invalid (cloudbridge_intro). Using this name gives an exception:

[code]

2. The firewall creation throws an exception:
[code]
Looking into the code, it should be "network_id" instead of "network".

3. Instance creation fails with an exception as well:
[code]
Seems that the example is not up to date with the code in the repo. Is there up

[2018-10-03 14:13] felix-wolfheimer commented on #148
Wow, indeed! That gives a complete list. Thanks for pointing me to this!
Is it possible to get only the instance types supported in a certain region? In AWS especially the "high-end" instance types (like p3) are not available in all regions. I tried using the pricing API, which seems to be the only way to get this information currently (except for maintaining a static list myself), but this is far

[2018-10-03 14:27] #148 closed, assigned to nobody

[2018-10-03 14:40] nuwang commented on #150
Thanks for reporting this. The documentation can be fixed, but it looks like in the second case, the example code is correct, but the interface is not! It actually ought to accept a network parameter, not a network_id parameter for the sake of consistency. I'm not really sure how we missed this, but it needs an urgent fix. ping @afgane @almahmoud

[2018-10-03 14:55] nuwang commented on #150
@felix-wolfheimer I've just pushed out an update that fixes the doc errors. readthedocs should rebuild soon with the updated version. I'll file a new issue to track the network_id parameter.

[2018-10-03 14:55] #150 closed

[2018-10-03 14:56] nuwang opened #151 "VMFirewalls.create() should accept a network object, not a network_id parameter"
ref: https://github.com/CloudVE/cloudbridge/issues/150

This will require an interface change, and it looks like the simplest way will be to introduce the network parameter, and mark the network_id parameter as deprecated.

[2018-10-03 17:41] felix-wolfheimer opened #153 "Show instance types/vm sizes based on a selected region"
This is based on issue #148.

The list of instance types is currently independent of a selected region/location. However, for AWS and other providers the available instance types depend on the selected region. This is especially true for the "high-end" instance types like p3 in AWS. It would be great to have an API to find out which instance types are available in which region. Azure has an API fo

[2018-10-03 18:09] almahmoud opened #154 "Subnet test race condition"
When testing subnet creation, given that the CIDR_Block is fixed, there is a conflict if two tests are running at the same time. Mostly seen in Azure tests (probably because they run slower thus increasing the time between creation and deletion)
https://github.com/CloudVE/cloudbridge/blob/master/test/test_network_service.py#L103

[2018-10-03 18:13] nuwang commented on #154
Perhaps we can create a new network for this test alone, instead of using the shared subnet?

[2018-10-03 18:35] afgane commented on #150
@almahmoud how about opening a WIP PR for the docs? It would make it more visible and we all can pitch in.

[2018-10-03 20:10] almahmoud commented on #154
That might be a problem with the VPC limit in AWS being 5, and only having 2 consistent slots on the account, so we'd avoid this problem but likely intermittently hit the VPC limit again for which we refactored the tests a few weeks ago. However, we could wrap this specific test in a retry to avoid the conflict in both situations (new network limit or same network subnet conflict), as in both case

[2018-10-04 04:02] nuwang commented on #154
One reason to be wary of the idea of retries is that they could perhaps make genuinely solvable race conditions fly under the radar. As I recall, several were caught and fixed in the last few weeks, and some of those may not have manifested themselves with a retry? I can't recall whether that's actually the case though, do you remember?

[2018-10-17 16:19] almahmoud commented on #151
Done in https://github.com/CloudVE/cloudbridge/pull/152

[2018-10-17 16:43] #151 closed

[2018-11-01 16:39] almahmoud opened #158 "Test for IP Address attachment"
I'm opening this issue to continue the conversation started by @nuwang here https://github.com/galaxyproject/cloudlaunch/issues/163 about adding a test for IP Address attachment.
Given that we don't have a "Network Interface" object in CloudBridge, it might be hard to make a test that specifically caters to the case where an IP is attached but has no associated instance. A potential way to go abou

[2018-11-15 12:31] pyup-bot opened #160 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2018-12-21 12:40] nuwang commented on #153
@felix-wolfheimer A part of the issue has been fixed - and instances should be correctly filtered by region now. However, the issue to get the GPU count across all providers is still outstanding. I'll open a new issue to track it.

[2018-12-21 12:40] #153 closed

[2018-12-21 12:42] nuwang opened #163 "Add method to get GPU count for VmType"
There's currently no way to get the number of GPUs per instance type or any related information.
see: https://github.com/CloudVE/cloudbridge/issues/153

[2018-12-21 15:03] afgane opened #164 "Write a 'getting started with Jetstream cloud' tutorial"
The [Jetstream cloud](https://jetstream-cloud.org/) is an OpenStack, NSF-funded academic cloud operated by the Indiana University and TACC. They teach cloud computing concepts all over the country and have a great tutorial for the OpenStack command line client. It would be great to write an equivalent one using CloudBridge and Python.

Link to the OpenStack CLI tutorial: https://github.com/jlf599/

[2019-01-04 20:16] nuwang commented on #109
Some design ideas.

We could have a reusable EventDispatcher class that's responsible for raising events and handling subscribers.

For example, to subscribe to an event:
[code]
where `provider.events` is an instance of an `EventDispatcher`:

Sometimes, we may want to not just listen/be an observer, but actually intercept the chain of handlers. For this, we could perhaps have a variant like this.

[2019-01-05 20:49] almahmoud opened #165 "Cross-Provider Enforcement"
We talked about this quickly at the last Zoom meeting in 2018, so I'm documenting the idea here for further discussion and to see whether it'd be a good one to potentially implement for 2.0 with GCE, and/or work on during this CollabFest.

We had already discussed a few months ago adding decorators (similar to the deprecated decorator) that would issue either a warning or an error (with severity s

[2019-01-06 05:37] nuwang commented on #165
This would be excellent alongside https://github.com/CloudVE/cloudbridge/issues/109. Possibly, we could implement this through the notion of a "Profile" where a profile is a set of methods that are valid in a particular context (sort of like bluetooth audio profile, bluetooth hands free profile etc). So we could define a "Standard" cloudbridge profile which contains all methods that are guaranteed

[2019-01-07 18:30] nuwang commented on #109
Capturing more of the design discussion with @almahmoud here:

Possible design for the event dispatcher:
[code]

[2019-01-08 04:43] nuwang commented on #109
@almahmoud Enis raised an important issue, which is whether this implementation could potentially make it difficult for new users to add features to cloudbridge without fully understanding the event system. This is an important concern, and therefore, perhaps we could fallback to a simpler implementation for starters (subscriptions only), and add support for interceptors at some future point. This

[2019-01-10 00:14] almahmoud commented on #164
For CollabFest students who might want to work on this issue, you'll need an OpenStack environment and will thus need to contact me to get you started with credentials!
A good place to start afterwards is setting up a virtualenv with iPython, then following this getting started tutorial to get to know CloudBridge: https://cloudbridge.readthedocs.io/en/latest/getting_started.html after which you'd

[2019-01-21 18:37] afgane opened #167 "Not picking up existing VM Firewall or routers during an instance launch"
We keep running into the following error at instance launch on CloudLaunch (on Jetstream at least):
[code]

[2019-01-21 19:11] afgane commented on #167
Possibly related naming issue with routers and we have a bunch of them, all bearing the same name.
[code]

[2019-01-22 16:12] nuwang opened #168 "Object graph diagram out-of-date"
FloatingIps are nested under networks, but that is currently not reflected in the cloudbridge resource structure graph.

[2019-01-22 19:46] almahmoud commented on #167
First issue fixed in https://github.com/CloudVE/cloudbridge/commit/5328b65db9162b29b5179aa4a61bce6122f88e9d and https://github.com/galaxyproject/cloudlaunch/pull/165

[2019-01-25 18:33] nuwang opened #169 "Azure firewall from_port and to_port are different"
azure firewall from_port and to_port are namedtuples, whereas it's a string for everything else. Also, the tests don't seem to catch the issue.

[2019-01-31 20:18] almahmoud opened #170 "GCE Instance/Firewall/Router fix"
- [ ] GCE Instances currently get an automatic public IP. Ideally they'd only get a Private IP
- [ ] Block internet access until routing is done properly through router/gateway
- [ ] Default CIDR to '0.0.0.0/0' when fw rules are set without a target
@nuwang Feel free to add if I missed something

[2019-01-31 20:22] nuwang commented on #170
It seems like it should be ok to make the CIDR 0.0.0.0/0 for outgoing traffic, but perhaps not for incoming? Maybe the solution is to make the CIDR parameter mandatory? Not sure whether there'll be cascading impacts from this though.

[2019-02-03 12:05] #47 closed

[2019-02-03 12:06] #32 closed

[2019-02-03 12:33] nuwang commented on #103
@afgane @almahmoud This if fixed now right?

[2019-02-03 12:36] nuwang commented on #132
@almahmoud Can this be closed?

[2019-02-03 12:39] nuwang commented on #154
@almahmoud Is this fixed now?

[2019-02-03 12:41] #160 closed

[2019-02-03 19:13] almahmoud commented on #132
I think paging is still client-side in azure.

[2019-02-03 19:14] almahmoud commented on #154
We are now creating a network again, it is fixed unless we hit VPC limits on AWS again

[2019-02-05 02:17] almahmoud commented on #103
Yes! The find method now uses our generic list then find not service specific find, which is not ideal for efficiency but helps avoid the problem where it was expecting to find a single result, although there is no uniqueness enforcement at creation time

[2019-02-05 17:14] #154 closed

[2019-02-05 17:20] afgane commented on #144
xref #170

[2019-02-05 17:23] #103 closed

[2019-02-05 17:26] almahmoud opened #173 "Documentation for Resource Definitions"
- [ ] Adding documentation for what each resource is conceptually, potentially on this page https://cloudbridge.readthedocs.io/en/latest/topics/resource_types_and_mapping.html

related: https://github.com/CloudVE/cloudbridge/issues/168

[2019-02-06 04:49] #167 closed

[2019-02-07 16:03] afgane commented on #54
I just looked at the use of `default_zone` throughout the GCE implementation and I think the issue we identified in the previous comment has been corrected at this point. I feel the only potential issue with the use of that parameter may come up in the `Snapshot.create` method where the snapshot is being created in the `default_zone`. Instead, maybe we should be creating it in the `volume.zone_id`

[2019-02-07 19:08] almahmoud opened #175 "Standardizing Google objects naming"
Right now, we have classes prefixed GCP, GCE, and GCS, and some classes that are not named following our convention (e.g. GCSObject = GCEBucketObject)
After a conversation on Gitter, @afgane and I came to the conclusion that the easiest way to keep consistency and not have to change much down the stream is to rename everything to GCE. I removed the commit for now, as to avoid later merge conflicts

[2019-02-07 19:36] nuwang commented on #175
Since it's a simple search replace, why not standardise on GCP? Seems more appropriate than GCE in the long run?

[2019-02-07 20:22] almahmoud opened #176 "GCE Description Decision"
For GCE, we are using the built-in (unchangeable) description at create-time and a label with key 'description' within the setter for some resources (e.g.: snapshot).
We should likely decide whether we want to use the built-in description and remove the setter, or only use a changeable label for descriptions.

[2019-02-08 15:41] afgane commented on #175
It didn't seem like that big of a deal whether it's GCE or GCP yet env variable names already exist referencing GCE and are used elsewhere (e.g., CloudLaunch) so the thinking was that changing less would require less changes and testing downstream (again, given that the diff between GCE and GCP didn't really seem that big of a deal).

[2019-02-08 18:12] #169 closed

[2019-02-08 18:15] almahmoud commented on #169
Tuple is used internally, but `from/to_port` properties return an `int` in all providers.
A change that came from looking at this is to GCE Firewall create method to conform to other providers (description optional, network mandatory): will be resolved with standardized public methods with event system.

[2019-02-08 21:25] almahmoud commented on #175
I think conceptually GCP is better, but as Enis said, that would require more change.
What I could do is change it all to GCE first, make that standardizing commit, then attempt to change all GCE to GCP everywhere, including CloudLaunch & DJCloudBridge (anywhere else?), and see if there are any problems. If it works we can stick to GCP, if it proves to be more complicated, go back to GCE?

[2019-02-09 18:25] nuwang commented on #168
The internet gateway should be nested under networks?

[2019-02-09 18:33] afgane commented on #176
All the other providers use a tag (AWS & Azure) or a changeable property (OpenStack) so as things stand, we should probably go the route of using a changeable label on GCE as well.

[2019-02-10 13:35] afgane commented on #168
Wow, in my head, that is exactly what the updated diagram showed... I'll
update it today.

[2019-02-11 01:16] #168 closed

[2019-02-11 05:28] nuwang commented on #176
It doesn't look like we have too much of a choice, but the performance implications are worrying - we are already storing a fair amount of data in project metadata. Since project metadata is written as a [whole](https://cloud.google.com/compute/docs/reference/rest/v1/projects/setCommonInstanceMetadata), and doesn't appear to be updated in parts can't be updated in parts, the more data we store, th

[2019-02-11 06:01] #84 closed

[2019-02-11 06:04] nuwang opened #180 "Make moto a standalone provider"
Instead of only making moto available if CB_USE_MOCK_PROVIDERS is set, make moto always available as an additional cloud. This will allow tests to run for both AWS and moto, and also allow us to skip certain tests for moto in future (e.g. connectivity tests). Having the mock provider always available will also make it easier to test applications that use cloudbridge.

[2019-02-11 20:46] almahmoud opened #182 "Azure Image Create"
In order to create an image from an instance in Azure, the instance must be deprovisioned, which is done by running `waagent deprovision` after SSH-ing into the instance.
We are currently using `pysftp` to ssh into the instance programmatically (given a private key filepath) in order to accomplish this. However, this assumes that 1) the instance was created with a key although it is an optional pa

[2019-02-12 07:12] nuwang opened #185 "Check whether GCEFirewall needs to be updated"
The current GCE firewall implementation is pretty complex.
As I recall, it uses network tags and simulated rules, including a dummy rule because GCE only had firewall rules, no firewall object. However, there now appears to be a GCE firewall resource: https://cloud.google.com/compute/docs/reference/rest/v1/firewalls

Assuming this refers to the same concept, we could significantly simplify the cur

[2019-02-12 18:37] afgane commented on #54
To make the behavior of `default_zone` more explicit, let's require the `default_zone` parameter when creating a Google provider in CloudBridge.

[2019-02-13 06:57] nuwang commented on #109
Closed by: https://github.com/CloudVE/cloudbridge/pull/179 and https://github.com/CloudVE/cloudbridge/pull/184

[2019-02-13 06:57] #109 closed

[2019-02-13 07:24] nuwang commented on #163
There are at least two problems here, the first is determining the number of GPUs supported by an instance type. The second is actually doing something useful with that information so that it's possible to boot a machine with a GPU. Just documenting the specifics for each cloud here.

AWS
-----
GPUs are tied to instance types. There is a notion of elastic GPUs that can be dynamically attached, but

[2019-02-13 07:27] nuwang commented on #153
@felix-wolfheimer Could you please comment on whether the proposed solution is workable for your case?: https://github.com/CloudVE/cloudbridge/issues/163

[2019-02-13 07:27] nuwang commented on #153
@felix-wolfheimer Could you comment on whether the proposed solution is workable for your case?: #163

[2019-02-13 15:04] nuwang commented on #180
closed by: https://github.com/CloudVE/cloudbridge/commit/9d635ee83e074f85817710033ac795be920f9783

[2019-02-13 15:04] #180 closed

[2019-02-15 21:42] almahmoud commented on #176
I changed it for Volumes and Snapshots in https://github.com/CloudVE/cloudbridge/commit/424216747b0370b94031621c842e7b480e5a46d6, and added the description at create-time as to mitigate the problem Nuwan mentioned. The performance impact is thus only for changing descriptions, but that shouldn't be a very repeated operation at scale.
GCEVMFirewallRules have a changeable description, so for the fir

[2019-02-15 21:42] #176 closed

[2019-02-17 12:11] nuwang commented on #175
Alex has fixed this in: https://github.com/CloudVE/cloudbridge/pull/189

[2019-02-17 12:11] #175 closed

[2019-02-18 18:50] nuwang opened #190 "Release 2.0.0 tasks"
Tasks outstanding for 2.0.0

Essential:
a. Make zone a part of the provider and remove it from all methods - we don't use multi-zone operations in general, so it seems like it's better to make it a provider wide setting, especially to benefit GCE. If at some point we want to perform multi-zone operations, we'll need multiple provider instances just like we do for regions or multiple clouds.
b. Pre

[2019-02-19 14:07] nuwang opened #191 "zone handling in Azure is potentially incorrect"
The current azure implementation does not seem to be recognizing placement zones at all: https://github.com/CloudVE/cloudbridge/blob/master/cloudbridge/cloud/providers/azure/resources.py#L867
Instead, in azure, the region and zone are the same.
However, azure has support for zones in certain regions.
https://docs.microsoft.com/en-us/azure/availability-zones/az-overview

[2019-02-19 20:06] nuwang opened #193 "Incorrect table in documentation"
The docs are referring to some outdated provider fields which I've fixed along with this PR: https://github.com/CloudVE/cloudbridge/pull/192/files#diff-17df5cf15b73a2c0d9db693e3f890efbR89

However, if we don't go ahead with that, we should manually patch just that bit into the docs.

[2019-02-20 14:48] nuwang opened #194 "Replace GCP firewall implementation with firecloud/cloud datastore"
GCP does not have a direct analogue to firewalls/security group. A firewall resource in GCP is closer to a firewall rule in other providers. Therefore, the current implementation simulates groups of rules by a complicated procedure of tagging.

However, this complicates the code greatly, and has a significant impact on performance, since firewall rules must be repeatedly queried and grouped by tag

[2019-03-02 08:35] nuwang opened #196 "Invalid connection settings not throwing reasonable exceptions"
Having invalid connection settings such as a None value for subscription_id in Azure, does not throw a reasonable exception like InvalidProviderSetting or similar.

Instead, the error thrown is as follows
[code]

It seems like we need to do this for all providers.

[2019-03-03 06:54] nuwang opened #197 "Should subnet be optional when creating an instance?"
Currently, the subnet is a required parameter when creating an instance. However, since we have a subnet.get_or_create_default() method, is it possible for us to make it optional?

Or was there some other reason that we had to make it mandatory, such as matching up floating ips etc? (can no longer remember and doesn't seem to have been captured in the design decisions doc)

[2019-05-17 11:18] nuwang opened #202 "Add option to pass in raw GCP credentials_obj"
This is to support advanced oauth authentication scenarios.

[2019-05-17 11:18] nuwang commented on #202
Fixed in: https://github.com/CloudVE/cloudbridge/pull/201/files

[2019-05-28 15:12] #202 closed

[2019-06-11 01:12] niejn opened #205 "Does cloudbridge intend to support aws spot instance? or spot fleet request?"
Thanks for providing such an excellent lib, correct me if I am wrong, I noticed that there is no support for requesting spot instances in AWS, In boto3, I can useing client.request_spot_fleet(*args, **kwargs) and client.request_spot_instances(*args, **kwargs) to requset spot instances, Can I use cloudbridge to do that? Thank you!

[2019-06-11 03:49] nuwang commented on #205
There's currently no direct abstraction for spot instances in cloudbridge,  but we'd welcome a PR for it. However,  if you want to simply call the above methods, you can do so via the cloudbridge provider which is only a thin wrapper around boto3.

'provider. session.client("ec2")' will give access to a boto3 client object through which you can call the above methods.

[2019-06-12 01:05] niejn commented on #205
Thank you very much indeed!!! That really solves my problem.

[2019-06-12 07:27] #205 closed

[2019-06-17 00:03] VJalili opened #206 "'AccessTokenCredentials' object has no attribute 'sign_blob'"
Use the following to reproduce:

[code]

where the `credentials` object is of type `oauth2client.client.AccessTokenCredentials`. Calling the `generate_url` method raises an exception with the following traceback:

[code]

[2019-06-17 00:18] VJalili commented on #206
@nuwang what is the expected type of `self._credentials` here? [`AssertionCredentials`](https://oauth2client.readthedocs.io/en/latest/_modules/oauth2client/client.html#AssertionCredentials)?!

If so, it seems both `AssertionCredentials` and `AccessTokenCredentials` inherit from `OAuth2Credentials`:

[code]

[2019-06-18 18:37] nuwang commented on #206
Type used by CloudBridge currently:<oauth2client.service_account.ServiceAccountCredentials>

[2019-06-22 16:47] VJalili commented on #206
`ServiceAccountCredentials` type inherits from `AssertionCredentials`.

[2019-06-22 18:16] nuwang commented on #206
What do you think of this?
https://google-auth.readthedocs.io/en/latest/_modules/google/auth/iam.html

As the docs say in that file say: "This is useful when you need to sign bytes but do not have access to the credential's private key file."

It calls a rest api endpoint to sign the string:
https://cloud.google.com/iam/credentials/reference/rest/v1/projects.serviceAccounts/signBlob

Would this be

[2019-06-22 19:04] VJalili commented on #206
Do you have an example of how this can be used?

[2019-06-22 19:22] nuwang commented on #206
This example: https://github.com/googleapis/google-auth-library-python/issues/50#issuecomment-361781128

[2019-06-23 00:05] VJalili commented on #206
How did you make that work? I don't see how access token is passed there, are you using an environment variable?

Also, I suspect this is using default credentials types (similar to the default method of initializing GCP backend of cloudbridge) and not access token or `AccessTokenCredentials`.

[2019-06-23 00:39] VJalili commented on #206
[REF](https://google-auth.readthedocs.io/en/latest/)

Both `ServiceAccountCredentials` (that CloudBridge uses) and `AccessTokenCredentials` (that CloudAuthz generates) are part of this now deprecated library. I guess with that we need to revisit both cloudauthz and cloudbridge and update them to use `google-auth`.

[2019-06-23 01:34] VJalili commented on #206
Switching to the new library, we can use `google.oauth2.service_account.Credentials` type instead which implements a `signer` method that returns a singer that can be used for signing blobs (how to sign blobs using a signer is another question, but it is one step in the right direction).

[2019-07-30 08:05] niejn opened #209 "Got Error when running Unittest tests.test_compute_service.test_instance_methods"
Thanks a lot for providing such an excellent lib, I love it very much!

Python Environment: Python 2.7.15
Envs: CB_TEST_PROVIDER=gcp;GCP_DEFAULT_REGION=asia-east1;GCP_ZONE_NAME=asia-east1-b

when I am trying to run tests/test_compute_service.test_instance_methods,
Got Result: Tests Passed 6 of 6 tests, but got exception (Error during cleanup: 'NoneType' object has no attribute '_ip') when cleaning

[2019-08-01 17:24] nuwang commented on #209
@niejn Thanks for reporting this issue. I think there is indeed an issue with the floating ip state, it should return FloatingIP.UNKNOWN at some point, especially as we are using `fip.wait_for([FloatingIpState.UNKNOWN], terminal_states=[FloatingIpState.ERROR])` or else it'll wait for the entire timeout to elapse before erroring out. This probably slows down tests and any other situation where we a

[2019-08-12 03:43] niejn commented on #209
Thanks a lot!

[2019-08-18 10:17] nuwang opened #210 "Subservices do not raise events"
Currently, subservices don't dispatch any events.

[2019-08-23 02:10] niejn opened #212 "Got AttributeError when running test_compute_service.py"
When I am running test_compute_service.test_crud_instance, I got error:
`Traceback (most recent call last):

File "/usr/lib/python2.7/unittest/case.py", line 329, in run
    testMethod()
  File "/home/niejjn/codes/github/cloudbridge/tests/helpers/__init__.py", line 42, in wrapper
    func(self, *args, **kwargs)
  File "/home/niejjn/codes/github/cloudbridge/tests/test_compute_service.py", line 70,

[2019-09-03 14:39] afgane opened #213 "OS zone_name property accessed too early"
It seems that with PR #207 the `zone_name` property of the OpenStack provider is accessing the `compute` property before it's defined.

Exemplified by accessing the following endpoint: https://launch.usegalaxy.org/cloudlaunch/api/v1/infrastructure/clouds/jetstream/regions/regionone/zones/default/compute/vm_types/

[2019-09-04 17:01] almahmoud opened #220 "CloudBridge-Demo-Loop example + Connectivity test"
The script at: https://github.com/almahmoud/cloudbridge-demo-loop has evolved and become a pretty solid way to boot up instances in bulk with cloudbridge. I thought it'd be good to add it as a concrete example of how CloudBridge can be used across providers + integrate it with tests as a connectivity test given that it SSHs into the created machine.

[2019-09-06 16:23] afgane commented on #213
Fixed now.

[2019-09-06 16:23] #213 closed

[2019-09-26 06:50] niejn opened #222 "Azure OS Provisioning for VM using image created from VM snapshot encountering OSProvisioningTimedOut"
when testing test_create_and_list_image, facing OSProvisioningTimedOut, however, the provisioning succeeded eventually.

[2019-09-26 06:55] nuwang commented on #222
@niejn Can you paste the full stack trace? This exception looks like it's being raised by Azure, and not CloudBridge, so it may be an issue on their end?

[2019-09-26 07:28] niejn commented on #222
![2019-09-26 14-43-03屏幕截图](https://user-images.githubusercontent.com/24802306/65667439-521c7100-e072-11e9-89bf-f5c082e183c3.png)

[2019-09-26 07:32] niejn commented on #222
Thanks a lot, I found the similar issue in azure  Is there any way to increase timeout for provisioning a VM?https://github.com/Azure/azure-sdk-for-node/issues/1491. It seems to them, there is no way to increase the timeout, I am curious that whether you faced the same problem before, and how to solve it.

[2019-09-26 10:21] nuwang commented on #222
I don't recall having faced this issue no. However, judging by the error message, could it be an image issue with the machine image you're using for the tests? Are you using the default image 'Canonical:UbuntuServer:16.04.0-LTS:latest' or using a custom image? Perhaps you could try using a different image by setting the CB_IMAGE_AZURE env var before running the tests? https://github.com/CloudVE/cl

[2019-09-26 10:22] nuwang commented on #222
Also, @almahmoud have you run into this?

[2019-10-22 16:16] almahmoud commented on #212
Sorry for the late reply.
Thank you for all the info, I will try to get to fixing it this week.
Also, in general, PRs are always welcome if you have suggested solutions for issues that come up, we are always open to community contributors, although opening the issue is also useful if you do not have time to PR yourself :)

[2019-10-22 16:21] nuwang opened #225 "Sporadic error launching on GCP"
[code]

[2019-11-19 17:18] nuwang commented on #222
@niejn Is this looking good on your end? Can we close this issue?

[2019-11-19 17:19] nuwang commented on #212
@niejn This should have been fixed with this: https://github.com/CloudVE/cloudbridge/commit/9b0569fba7ecf7459c96e9dcf948c769954410ac
Thanks for reporting!

[2019-11-19 17:19] #212 closed

[2019-11-19 17:21] nuwang commented on #206
This is sorted I guess, so closing.

[2019-11-19 17:21] #206 closed

[2019-11-19 17:24] nuwang commented on #197
This is no longer a required parameter as each provider is tied to a specific zone.

[2019-11-19 17:24] #197 closed

[2019-11-19 17:27] nuwang commented on #193
Fixed in Cloubridge 2.0.0

[2019-11-19 17:27] #193 closed

[2019-11-19 17:28] nuwang commented on #190
Fixed in Cloudbridge 2.0.0

[2019-11-19 17:28] #190 closed

[2019-11-19 17:30] nuwang commented on #185
In GCP, the firewall rule is referred to as a firewall.

[2019-11-19 17:30] #185 closed

[2019-11-19 17:33] nuwang commented on #173
@almahmoud This can be closed right?

[2019-11-19 17:33] nuwang commented on #170
@almahmoud Is this also fixed?

[2019-11-19 17:34] nuwang commented on #149
@felix-wolfheimer There is an optional parameter to support this that has been added in: https://github.com/CloudVE/cloudbridge/pull/203

[2019-11-19 17:34] #149 closed

[2019-11-19 17:40] #54 closed

[2019-11-19 17:41] nuwang commented on #225
This has been fixed with: https://github.com/CloudVE/cloudbridge/commit/9b0569fba7ecf7459c96e9dcf948c769954410ac

[2019-11-19 17:41] #225 closed

[2020-04-13 05:41] gm27rjpm commented on #222
Hi @nuwang

Good Day!
I'm also facing the above similar error while provisioning a Linux (CentOS) VM using Packer from a custom built image in Azure.

Please advise if you have any suggestions on my below query.

How I built the custom image?
1. Created a Linux VM using CentOS7.7 Image chosen from Azure Marketplace.
2. Deprovision it using the below command.
    waagent -deprovision+user
3. Deallo

[2020-04-15 17:21] nuwang commented on #222
@gm27rjpm This appears to be an issue on the Azure side of things. Have you checked the size of the resultant image? Perhaps it's very large? The best thing to do may be to contact Azure support and ask them for help on why this might be happening.

[2020-04-24 19:23] #222 closed

[2020-04-28 17:02] gm27rjpm commented on #222
Thank you @nuwang!
I finally completed it using OpenLogic CentOS image available in Azure Market Place.

[2020-09-04 13:38] neelesh-a opened #244 "Starting and stopping of AWS instance"
I am very new to this library. Just downloaded the same today and started experimenting.

I could not find a way to "Start" and "Stop" an AWS Instance. Please let me know if I am missing something, is there any way to do so. This seem to be basic operation which should have been available.

[2020-09-04 15:03] nuwang commented on #244
@neelesh-a Yes, you're right. It looks like they never got added because we haven't needed to use them so far, but we'd welcome a PR. It's a matter of adding the two methods to the interface here: https://github.com/CloudVE/cloudbridge/blob/307c34c4c4c3be7ddf04edce461c5dbaafe57201/cloudbridge/interfaces/resources.py#L566
And then implementing it for each cloud.

[2020-09-19 17:29] neelesh-a opened #246 "Way to get all instances of the availability zones"
Currently when registered as AWS provider, and getting the list of instances, I get only the instances of one availability zone.

If I am interested in getting the list of all instances of a particular region in all its availability zone. How to get them?
Example:   I have 7 instances in ap-south-1a zone and 3 instances in ap-south-1b zone. Is there any way to retrieve all the 10 instances with a

[2020-09-20 12:41] nuwang commented on #246
@neelesh-a Thanks for reporting this. Each instance of a cloudbridge providers is tied to a specific zone. This was a conscious design decision and the reasons are documented [here](http://cloudbridge.cloudve.org/en/latest/topics/design_decisions.html#make-providers-single-zone). If you want to work across zones, the easiest way to do this is as follows:

[code]

[2020-09-20 13:54] neelesh-a commented on #246
Thanks alot.

On Sun, Sep 20, 2020, 18:11 Nuwan Goonasekera <notifications@github.com>
wrote:

[2020-10-27 15:00] asmerovski opened #250 "Problem listing anything but zones in Azure"
Hi guys, I have problems getting anything from this module. I couldn't find any forum for cloudbridge or whom to ask for help, but I have this piece of code:

from cloudbridge.factory import CloudProviderFactory, ProviderList

provider = CloudProviderFactory().create_provider(ProviderList.AZURE, {})

imgs = provider.compute.images.list() #RETURNS NOTHING
vm_types = provider.compute.vm_types.list()

[2020-10-28 06:44] nuwang commented on #250
@asmerovski You're in the right place. Have you exported all of the following env vars?

export AZURE_SUBSCRIPTION_ID
export AZURE_CLIENT_ID
export AZURE_SECRET
export AZURE_TENANT
export AZURE_RESOURCE_GROUP
export AZURE_STORAGE_ACCOUNT

[2020-10-28 08:27] asmerovski commented on #250
Hi, thanks you your prompt response!

I got some variables in .cloudbridge file in my home folder.
[azure]
azure_subscription_id: ****
azure_client_id: ****
azure_secret: ****
azure_tenant: ****

I ommited the values for security reasons.

I added resource group and storage account in my .cloudbridge file, and now I can list VMs running in my resource group.
Still cannot list public or private ima

[2020-10-30 16:04] asmerovski commented on #250
I managed to list some other images, by changing a resource group in .cloudbridge file.

But how do I get images on a direcory level, and how to get publicly available images, to list SKU's on azure ? I tried to create VM with these parameters:

img = provider.compute.images.get('ol8_2-gen2') # public image sku for oracle linux 8
inst = provider.compute.instances.create(
    label='cb-machine', im

[2020-10-31 11:29] nuwang commented on #250
The id format should be as follows:
[code]

You can also list Azure Gallery image by turning off `filter_by_owner` when listing images.
[code]

[2020-10-31 11:32] nuwang commented on #250
Also check the docs here, which has a more detailed example: http://cloudbridge.cloudve.org/en/latest/topics/azure_mapping.html

[2020-11-01 05:51] innovate-invent opened #253 "AWS IRSA support"
Please add support for IRSA credentials in EKS.

https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html#pod-configuration

Similarly GKE: https://cloud.google.com/blog/products/containers-kubernetes/introducing-workload-identity-better-authentication-for-your-gke-applications
and AKS: https://docs.microsoft.com/en-us/azure/aks/managed-aad

[2020-11-02 13:41] asmerovski commented on #250
Hey nuwang, thanks for pointing out that page of docs. It worked without problems!
Now, following tutorial I made everything until the point where I need to create a VM.
I am getting following error:
CloudBridgeBaseException: 403 Client Error: Forbidden for url: https://management.azure.com/subscriptions/xxxxxxxxxx/resourceGroups/xxxxxxxx/providers/Microsoft.Compute/virtualMachines/ta-cb-instance-

[2020-11-02 15:09] nuwang commented on #250
@asmerovski I can't say it does, perhaps a lack of permissions for the IAM credentials you are using? @almahmoud Any thoughts?

Regarding Windows - we've never really tested cloudbridge on Windows, so we don't really know. All of the dependencies are on standard cloud provider libraries, so if those work on Windows, I can't think of a reason why cloudbridge wouldn't. Would be great to hear back if

[2020-11-02 16:03] asmerovski commented on #250
Yeah, about that CloudBridgeBaseException: 403 Client Error: Forbidden for url, I managed to solve it. Resources were added in eastus region, but I tried to create a VM in westeurope region. After I set everything to one region, the problem was solved and VM was created.
Maybe you can add it to your truobleshooting section :).
Also got similar errors when creating a VM with size that is not availa

[2020-11-03 09:03] asmerovski commented on #250
Managed to install cloudbridge module on windows. You need to install visual studio tools.
![image](https://user-images.githubusercontent.com/8928493/97966157-bc4a2e00-1dbb-11eb-882e-27077582e2b3.png)

You can add this to your installation docs.

[2020-11-03 09:03] #250 closed

[2020-11-11 15:27] selshowk opened #254 "Way to get all gateways and floating IPs?"
Thanks for this very nice library!  I've been experimenting with some code in the getting started guide and it mostly works very well but I am hitting one difficulty: I'm having trouble consistently cleaning up resources I've created.

Most resources can be listed or queried with "find" but the exception for this seems to be gateways and floating ips.  From the API I see that its possible to get t

[2020-11-11 18:57] nuwang commented on #254
@selshowk Do you have a minimal snippet by chance where you can reproduce this issue? I think that would be helpful to identify what's blocking the gateway from being deleted.

Ideally, we'd fix this at a cloudbridge level so that the gateway gets deleted consistently. Sometimes, it may be a matter of waiting for the resources to be deleted. We also have a cleanup_helper that's often useful for th

[2020-11-11 20:55] selshowk commented on #254
Thanks for the fast response!

I've more or less copied the [getting_started page](http://cloudbridge.cloudve.org/en/latest/getting_started.html) into a `create_vm` function (which creates a network, gateway, fw, vm, public IP, etc) and then when its done I try to delete the resources using this function (also adapted from that link but expanded a bit):
[code]
Running the above function after crea

[2020-11-11 21:08] selshowk opened #255 "Possibility to launch instances with public IPs"
Assigning a public IP directly to an instance is simpler than using a floating IP (e.g. elastic IPs in AWS have stringent limits).

On AWS it seems like we can launch an instance with a public IP simply by setting a flag in thenetwork section of  ["create_instances"](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.html#EC2.ServiceResource.create_instances) boto call.

[2020-11-12 06:51] nuwang commented on #254
@selshowk I think you can increase the reliability of your deletes by changing the pattern of how you perform the delete. The tutorial example is not very descriptive on this point, but a common pattern we use is this: https://github.com/CloudVE/cloudbridge/blob/0d1a7aa98273b424b7b02675b90b18b418e7853f/tests/test_network_service.py#L208

All the cleanup_helper does is to make sure that even if an

[2020-11-12 11:12] nuwang commented on #255
@afgane @almahmoud Any thoughts on this issue?

[2020-11-12 15:40] selshowk commented on #254
Thanks for all your help @nuwang.  I will use the cleanup_action to improve my deletion code (and can also write the function more defensively) but I am just worried that its possible to lose access to the gateway in general.  I guess the solution is for me to implement gateway listing code for each provider.  Alternatively I might try to use public-ips for each instance (as in the issue #255 ) wh

[2020-11-12 16:26] selshowk commented on #255
Here is a minimal modification for the AWS provider that I've tested.  In this case implementation I use a flag to determine whether to use a public IP but it could, in principle, be in the kwargs:

[code]

I've skimmed the azure implementation and I think a similar thing can be accomplished by setting a public ip in the `nic_params` as done e.g. [here](https://docs.microsoft.com/en-us/azure/devel

[2020-11-12 17:16] nuwang commented on #254
@selshowk I understand what you mean. The reason for the current design is that Gateways do not exist in the same form across all clouds. For example, on OpenStack, it's just a network with external connectivity. So allowing gateways to be listed for delete won't work the same way across clouds. Therefore, from a cloud portability perspective, the only way out we've found is to delete in the corre

[2020-11-12 17:42] nuwang commented on #255
@selshowk I'm not sure we'll be able to introduce a top level parameter, since it probably won't be possible to make this work in a cloud-independent way. In the MS sample you sent for example, there's logic for manually creating a public ip. OpenStack's public ip assignment is network dependent, and the standard way is to use a floating ip.

We'd be happy to accept to a PR through kwargs for AWS

[2020-11-24 14:49] selshowk commented on #255
Ok, I am currently implementing a multi-cloud solution using cloudbridge and will try to provide PRs for the above functionality as I figure out how/if its possible for each provider.

[2020-11-24 15:01] selshowk opened #258 "Network created on GCP via cloudbridge throws exceptions because of global region"
I just tried running a variant of the "getting started" code on GCP and it failed.  Here is the snippet:
[code]
Note that I've commented out the `zone` flag in the create subnet as this does not work (at least not with AWS) but I don't think this is the issue.

The network created above has no region but is global.  This effects the associated URL which breaks the `parse_url` function in the `netw

[2020-11-24 19:45] nuwang commented on #258
@selshowk Thanks for reporting this. It looks like the documentation needs to be fixed. We remove the zone parameter from `subnets.create()`, since each instance of a provider can only work in a specific zone. This simplified things quite a bit, but it looks like the documentation had been missed in that update.

GCP networks are global resources, whereas subnets are regional resources. (https://c

[2020-11-24 20:00] selshowk commented on #258
Thanks for the info @nuwang .  The problem is that self._provider.parse_url is returning `None`.  As you can see in the session above `self._router["network"] = 'https://www.googleapis.com/compute/v1/projects/testvmcloudbridge/global/networks/sheer-cloudbridge-network-80ffee'`.  I suspect the problem is that the regex in the parse_url function is not working with the `global` in the URL but I have

[2020-11-24 20:10] nuwang commented on #258
@selshowk btw, are you using the master branch for this?

[2020-11-24 20:12] selshowk commented on #258
No I'm using pypi though I'm reading through code from the master branch.  I can pull the master branch to test with but its easier (for my project) to use a pip package.

[2020-11-24 20:15] nuwang commented on #258
We're hoping to release a new version this week or latest, mid next week, so can you test with the master branch and let us know whether things look ok?

[2020-11-24 22:57] selshowk commented on #258
Sure, I'll try @nuwang .

[2020-11-25 15:18] #254 closed

[2020-11-25 17:01] nuwang commented on #254
@selshowk Have updated the docs with a better example of this: https://github.com/CloudVE/cloudbridge/pull/260

[2020-11-25 17:48] #246 closed

[2020-12-01 13:34] selshowk commented on #258
@nuwang this works with master branch so I think the issue can be closed.

[2020-12-01 18:51] nuwang commented on #255
@selshowk Is this still an issue?

[2020-12-01 20:07] nuwang commented on #258
@selshowk The new version has just been released: https://github.com/CloudVE/cloudbridge/releases/tag/v2.1.0 so I'll close this now.

[2020-12-01 20:07] #258 closed

[2020-12-02 10:56] nuwang commented on #137
This has already been fixed.

[2020-12-02 10:56] #137 closed

[2020-12-02 19:15] selshowk commented on #255
I haven't generated a PR yet and the functionality is not yet there so not sure.  Feel free to keep/close it as you like.

[2020-12-02 19:33] nuwang commented on #255
@selshowk No worries, take your time. I'll keep this open and we can include this in a patch release.

[2020-12-04 18:37] selshowk opened #262 "Blocking on Azure VM Creation"
I'm trying to launch VMs across AWS, GCP and Azure and have noted the following:

- the AWS VM create function returns within a second and then I can wait on the VM by checking its state (as in the startup example) which takes ~15s.
- the Azure VM creation call takes ~1m and then "waiting" on the VM state aftewards takes no time (because the create call essential blocks until the VM is ready).
- I

[2020-12-05 07:30] nuwang commented on #262
@selshowk This is interesting because we haven't actually tried to use cloudbridge in an async way before. Are you using a library to patch cloudbridge to being async? Even in AWS, there are a few places where a wait occurs: https://github.com/CloudVE/cloudbridge/blob/5820f681c33d74c93ede22e56d8c7a5f7b9f54e7/cloudbridge/providers/aws/services.py#L781
So if the create VM call returns in 1 second, t

[2020-12-05 07:40] nuwang commented on #262
Another thing we have been considering recently is to have all operations return a "background task", that can be polled and waited upon. One reason for this is that on AWS in particular, we've been experiencing some difficulties (see here for context: https://github.com/CloudVE/cloudbridge/pull/257) which we've worked around for now. If this were to be implemented, it should also make it easier t

[2020-12-07 11:43] selshowk commented on #262
No @nuwang I've written a wrapper that uses a threadpoolexecutor to call cloudbridge functions from async code.  The code looks like this:

[code]
I use this to wrap my own functions which call cloudbridge functions (e.g. to create a firewall then a VM, etc).  The times I'm qouting above are happening _inside_ the threads.  Note that the cloudbridge azure vm creation code has a lot of serialized a

[2020-12-07 11:52] selshowk commented on #262
This issue seems to be related to why the AWS call takes so little time.  It seems like AWS is returning as soon as it gets a reference to the instance, even if the instance is not ready.  This is similar to the "background task" idea you mentioned but is happening at the provider level.  This kind of behavior would be very useful for async applications.  I suspect that it could already be achieve

[2020-12-08 11:48] nuwang commented on #262
@selshowk In the current implementation, if we don't return the `result()` from Azure, we would have to do something like what you suggested, treat the `self._vm` property as a lazy property which is waited for the first time it's accessed. We'd be happy to accept any changes there. Just wanted to additionally note that Azure is in fact a lot slower than AWS at VM launch operations, as can be seen

[2020-12-08 12:05] selshowk commented on #262
That is what we're doing now but there's a worry that if we want to launch 100 instances at once this would mean spawning a large number of threads and there is some concern around this (passed on to me from someone with a lot more experience with threads and asyncio -- not something I've hit myself).

As we develop our application further I will see if this is a problem and then perhaps come back

[2021-01-10 20:43] selshowk commented on #170
I have my own implementation that uses private IPs for AWS and GCP (I have not yet tried to do so with Azure but I will soon) but a problem I am hitting is that by default internal IPs can't connect to the internet at all so instead one has to set up NATs and add them to the subnets.  The docs for GCP and AWS are here:

https://cloud.google.com/nat/docs/gce-example#gcloud_5
https://docs.aws.amazon

[2021-01-10 21:50] selshowk opened #264 "NATs & Private IPs"
For GCP & AWS its relatively easy to patch the instance.create functions to support using internal IPs for VMs (I'll post some diffs later) but once you do this the VM can no longer access the internet.  The solution is to create a NAT so I'm trying to look at how to implement this in each provider and if its each to patch cloudbridge to do so (I also responded to #170 mentioning this).

For GCP t

[2021-01-11 16:22] nuwang commented on #264
@selshowk I may be misunderstanding what you mean here, but do you mean that instances with only private ips, which have no floating IP assigned, are not able to connect to the internet? If so, have you performed  all of the configuration steps documented here? http://cloudbridge.cloudve.org/en/latest/topics/networking.html#allowing-internet-access-from-a-launched-vm
Additionally, it may be necess

[2021-01-11 17:23] selshowk commented on #264
Yes this is exactly what I mean.  I create a network, subnet, router, gateway, etc and hook them up according to the Getting Started guide.  Previously I used to attach floating IPs but now I've modified the AWS code to simply allow the instances to have public IPs on creation (as mentioned in #255).  This works and such VMs can be accessed externally and can access the internet.  But if I create

[2021-01-11 19:31] nuwang commented on #264
@selshowk In that case, I can confirm that instances without public IPs are able to create outbound connections, and we use this in practice. We are definitely not using NAT gateways. As an example of the code, please take a look here for the network setup code: https://github.com/galaxyproject/cloudlaunch/blob/master/django-cloudlaunch/cloudlaunch/backend_plugins/base_vm_app.py#L220

This is the

[2021-01-11 21:51] selshowk commented on #264
@nuwang I just tried what you suggested and I'm seeing results consistent with what i described: VMs created in a subnet and not assigned a public or elastic IP cannot access the internet.  Below is a shortish code snippet to show this.  I've only tested this on AWS.

Do you agree or do you see something I'm doing wrong:

[code]

[2021-01-14 13:36] nuwang commented on #264
@selshowk I'm checking up on this now, will let you know how it goes.

[2021-01-14 14:32] nuwang commented on #264
You're right, it seems that you need to either have a NAT gateway, a public IP or an IPv6 IP. I think that when I tested this scenario, I must have had subnets auto assign public IPs or something, although we didn't assign an elastic IP, and it seems that none of our instances with private IPs only have outbound internet connectivity after all. So apologies for sending you off on a wild-goose chas

[2021-01-14 17:24] selshowk commented on #264
No prob, I've hit similar confusions myself.  Note that this problem does NOT occur with Azure -- they seem to automatically NAT somehow.

The solutions look quite different on the three providers:
- on aws I have to create two subnets (a public & private one), add a NAT gateway to the public one and route traffic from the private net to the public one.
- on GCP a simple modification of the router

[2021-01-15 16:49] nuwang commented on #264
From a cloudbridge perspective, I think a sensible default would be for all "private" instances to have outbound internet connectivity, but no inbound connectivity at all. For AWS, I think that simply enabling public IP auto assignment on the subnet by default would make the process fairly seamless. On GCP, I guess we can enable NAT on the router by default. Looks like Azure isn't a problem, which

[2021-01-22 02:08] almahmoud opened #265 "[OS] Leftover ports after detaching IP"
At least in OS, we're leaving leftover ports behind when detaching IPs and deleting instances. On our Jetstream allocation we had almost 30 ports (~1/3 of our quota) in the default network, all of which seemed to have been previously attached to old GVL instances. I'm not sure if this is a problem across the board or if it might be specific to a certain way we are deleting those instances/workers

[2021-02-05 14:44] selshowk opened #266 "Upgrade Azure libraries"
The provider libraries in the `setup.py` file are quite old versions.  Some have annoying issues that have since been fixed.  E.g.

https://github.com/Azure/azure-cli/pull/12839

Would it be possible to upgrade these dependencies to more recent versions?

[2021-04-03 05:36] abhi005 commented on #244
@nuwang Hey, I would like to work on this issue. And since this is one of the mandatory requirements for my course work, will make sure that it gets completed.

[2021-04-03 13:01] mnss8991 commented on #163
@nuwang I would like work on the above issue and contribute my solution to the problem .Please provide me with the necessary requirements so that I will start working on it. Since it is mandatory for my course requirement I assure you for the completion of the issue.

[2021-04-03 13:03] RangaSairohith commented on #141
Hi ,
I would like to work on this issue. As this is one of the mandatory requirements for my course work i assure that it will  complete.Please provide some necessary requirements

[2021-04-14 14:33] abhi005 commented on #244
hey @nuwang can you please update on this

[2021-04-14 17:26] nuwang commented on #244
@abhi005 Sorry I missed your original message. We'd be happy to accept a PR on this. Let us know if you need any help.

[2021-04-14 17:28] nuwang commented on #163
@mnss8991 We'd be happy to accept a PR on this issue. Hopefully, the above description is enough for you to get started - feel free to ping us with any further questions.

[2021-10-03 16:16] FabioRosado opened #280 "Update docs to mention that Azure default resource group is cloudbridge"
This one caught me a bit off guard when I tested the new dev account. I followed the docs on [Create a provider](http://cloudbridge.cloudve.org/en/latest/getting_started.html#create-a-provider) and omitted `azure_resource_group` so cloudbridge was looking for the `cloudbridge` resource group, which was causing pretty much every test to fail.

If you would like, I'm happy to update this portion of

[2021-10-03 17:38] nuwang commented on #280
Aah, that's bad. Yes, please do. Perhaps we could also link to this section: http://cloudbridge.cloudve.org/en/latest/topics/setup.html

[2021-10-03 20:00] #280 closed

[2021-11-05 06:19] nuwang commented on #244
Fixed in: https://github.com/CloudVE/cloudbridge/pull/271

[2021-11-05 06:19] #244 closed

[2021-11-05 06:20] nuwang commented on #266
Fixed in release 2.2.0.

[2021-11-05 06:20] #266 closed

[2021-11-05 06:28] nuwang commented on #253
@innovate-invent If you specify an empty dict when initializing the cloudbridge AWS provider, it defaults to IAM access. We use this in practice and it works as expected. While I haven't tested this for the other providers, it should work the same way. Is this what you're looking for or something else?

[2021-11-05 06:34] innovate-invent commented on #253
Sorry, this issue is over a year old and I am not sure why I needed this. It is likely I was investigating a project that is dependant on cloudbridge. I am pretty sure I don't need this any more.

[2021-11-05 06:34] #253 closed

[2021-11-17 01:55] RyanSiu1995 opened #291 "Separate the Cloud Provider Package Installation Completely"
I have spotted that the `SIMPLE` or default installation will install all three cloud providers, AWS, GCP and OpenStack.
However, in my case, I only use AWS and GCP so it makes my environment having one more unused dependency.
This is not an ideal situation.
If possible, could we have the package separated installation just like Azure?
This make everything aligned and easy to manage.

More specifi

[2021-11-17 03:22] nuwang commented on #291
@RyanSiu1995 Thanks for making PR (https://github.com/CloudVE/cloudbridge/pull/292) and initiating this discussion. The original reason for making the simple install include some providers was to make cloudbridge usable immediately by new users as otherwise, it would install a non-functional cloudbridge. We cut Azure out because it was simply too large to include by default.

However, maybe it doe

[2021-11-17 03:24] nuwang commented on #291
@RyanSiu1995 But on another note, I'm not running into any issues on mac with `pip install cloudbridge`. And inotify is not an openstack dependency anymore, are you installing the latest version (2.2.0) with updated openstack libs?
[code]

[2021-11-17 03:46] RyanSiu1995 commented on #291
Regarding to the pyinotify, we are using pip-compile to compile the nested dependencies.
Unfortunately, the pip-compile does not respect the sys_platform for some reasons.
So, we encounter the issue of pyinotify in this case.

For your information, the pyinotify is specified under this dependency tree.
https://github.com/openstack/python-neutronclient/blob/master/requirements.txt#L11
https://githu

[2021-11-21 15:08] nuwang commented on #291
@RyanSiu1995 Just to let you know that we are taking this up for discussion on tuesday and can hopefully merge this then. I tend to agree with your argument.

[2021-11-21 15:29] FabioRosado commented on #291
Hello folks, apologies for the delay in getting back to you. Yeah it should be fine, we are installing the full cloudbridge so the changes shouldn't affect us in a bad way :smile:

[2021-11-21 15:34] FabioRosado opened #293 "Should we allow users to specify read/write signed urls?"
In GCP I had to create a custom method to generate a signed URL for a storage bucket because Cloudbridge is generating read only URLs.

The aim of this issue, is to start a discussion if we should allow users to specify the type of permissions when generating the signed URL, we could add it as a parameter to be read (default) or write?

[2021-11-21 16:02] nuwang commented on #293
That sounds good to me. It looks like almost all providers support either GET or POST as possible presigned url options.

[2021-11-21 21:07] FabioRosado commented on #293
Great, I'll start hacking at it and open up a PR when I have a working code :smile:

[2021-11-24 12:01] RyanSiu1995 commented on #291
Hi folks, any update on this?

[2021-11-24 16:01] nuwang commented on #291
@RyanSiu1995 Thanks for these changes, the PR has been merged.

[2021-11-25 13:14] RyanSiu1995 commented on #291
Thank you for helping this out! I wonder when the next release will be here.

[2021-11-29 04:16] nuwang commented on #291
@FabioRosado Can you comment on ETA for this? https://github.com/CloudVE/cloudbridge/issues/293 We could probably make a release with that change included?

[2021-11-29 12:47] FabioRosado commented on #291
@nuwang I need to keep working on it, perhaps a week or so? I'm working on this in-between baby duties atm :smile:

[2021-11-29 15:27] nuwang commented on #291
No rush at all on that, baby duties come first :-) Let's release this now, and we can always do a 3.1 later.

[2021-12-03 14:50] #293 closed

[2021-12-05 08:10] nuwang commented on #291
The 3.0.0 release is out: https://github.com/CloudVE/cloudbridge/releases/tag/v3.0.0

Thanks to both for these contributions @RyanSiu1995 @FabioRosado

[2021-12-05 08:10] #291 closed

[2022-07-29 10:26] nuwang opened #300 "Improve interface consistency for async operations"
Some methods like stop_vm and restart_vm, block till the operation is complete. It would be better if they were non-blocking and returned an object that can be waited upon or queried for background operation status. In general, there seem to be some inconsistencies in how we are handling this.

[2022-08-28 21:24] almahmoud opened #306 "Gateway detection problem in JS2 from router quota 1"
We are currently using a dummy router to check for FIP connectivity. This particularly comes up when trying to get a gateway from a network eg: `list(net.gateways)[0]`. This method won't work well in JS2 because of the new default quota of 1 on routers (https://docs.jetstream-cloud.org/general/policies/#router-quota-policies), making the list gateways method not work unless you have 0 routers.
htt

[2022-08-29 19:40] nuwang commented on #306
@almahmoud  It sure looks like we just remained with the original workaround and never got around to trying the equivalent of `openstack network list --external --no-share`. The workaround is truly horrendous, and if we can replace it, that would be great. Do you know what the equivalent API call would be? Perhaps we can trace the HTTP calls to find out?

[2022-09-04 15:36] akshatakulkarni25 commented on #132
Hello, I'm new to open source and i'm interested in solving this issue.Is this issue open.
Could you please help in getting started with this project and guide me through this issue. Thanks

[2022-09-06 17:50] almahmoud commented on #306
I believe this is all we need to return the external non-shared network as a gateway https://github.com/CloudVE/cloudbridge/pull/307

[2022-09-07 05:21] vineetjain27 commented on #306
hey @almahmoud I want to work on this please accept my contribution to this issue.

[2022-09-07 05:23] vineetjain27 commented on #300
hey @nuwang I want to work into his issue can you please accept my contribution

[2022-09-07 06:19] nuwang commented on #132
Hi @akshatakulkarni25, we are happy to accept contributions. Yes, this issue is still open. For starters, please go through the cloudbridge docs and once you are familiar with how paging is implemented: http://cloudbridge.cloudve.org/en/latest/topics/paging_and_iteration.html
please take a look at the aws and google implementations. Then, you need to do something similar for Azure. Please comment

[2022-09-07 06:20] nuwang commented on #300
@vineetjain27 We are happy to accept contributions. Please feel free to make a pull request with an initial implementation.

[2022-09-07 06:22] #306 closed

[2022-09-07 10:59] ananyak19 commented on #164
Hey @almahmoud I would like to work on this issue.

[2022-09-07 11:06] vaishnavi-ramanujapuram commented on #163
Hi, I would like to work on this issue. Could you please provide me the approval and required documents for me to understand the project and that will help me contribute to this issue.

[2022-09-07 12:31] aarushisoni commented on #194
Hi my name is Aarushi Soni . I want to contribute to this issue . Is this issue still open ? I am first time contributor . Please guide me through this process.

[2022-09-07 12:35] aarushisoni commented on #182
Hi my name is Aarushi Soni . I want to contribute to this issue . Is this issue still open ? I am first time contributor . Please guide me through this process.

[2022-09-07 12:36] aarushisoni commented on #163
Hi my name is Aarushi Soni . I want to contribute to this issue . Is this issue still open ? I am first time contributor . Please guide me through this process.

[2022-09-07 12:37] aarushisoni commented on #141
Hi my name is Aarushi Soni . I want to contribute to this issue . Is this issue still open ? I am first time contributor . Please guide me through this process.

[2022-09-07 22:28] almahmoud commented on #306
Hey @vineetjain27, thank you for your interest, but I’ve already resolved this issue as it was time sensitive for internal use. We’d welcome contributions for some of the other open issues though!

[2022-09-08 06:08] akshatakulkarni25 commented on #132
Hello,
Thank you. I look forward to working on this issue.

Thanks & Regards,
Akshata Kulkarni

On Wed, Sep 7, 2022 at 11:50 AM Nuwan Goonasekera ***@***.***>
wrote:

[2022-09-08 12:18] afgane commented on #164
Hi @ananyak19 - thanks for your interest here. In addition to what @almahmoud pointed out already, take a look at the contributing guide available here: https://cloudbridge.cloudve.org/en/latest/topics/contributor_guide.html. I'd suggest you start by forking and cloning this repo. Then reach out to me on Galaxy project's Matrix space: https://matrix.to/#/#galaxyproject_FederatedGalaxy:gitter.im an

[2022-09-09 03:08] Akshat977 commented on #164
Hi @afgane ,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-09 13:57] Jegeva opened #308 "GCPInstance start function is missing"
the right code is already implemented i nreboot but there should be a start function implemented

[2022-09-09 14:01] Jegeva opened #309 "Install documentation is not clear enough regarding which module is needed for which provider"
The documentation makes it not clear enough what python modules are required to use what cloup provider.
After installation i was a little be dumbfounded to see that only the AWS exemple was working
(because i had boto3 installed on my machine) but not the others.

I have to dig into the initialization to understand that i was missing modules that were not taken care of by pip.

[2022-09-09 14:58] nuwang commented on #309
@Jegeva Thanks for reporting this. This was a recent change and looks like some documentation was overlooked. Fixed in linked issue. Use `pip install cloudbridge[full]`.

 You can also install specific providers as detailed here: http://cloudbridge.cloudve.org/en/latest/topics/install.html#single-provider-installation

[2022-09-10 07:47] theshashankpal commented on #308
Hi @Jegeva,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-10 08:22] nuwang commented on #308
Looks like the start and stop functions have been implemented, but for aws only. The following would need to be done.
a. Implement start/stop functions for the remaining providers
b. Make sure this test passes for all providers, not just aws: https://github.com/CloudVE/cloudbridge/blob/7882bda211eacc67c33b013c7906bf5860d0fcf6/tests/test_compute_service.py#L419

We are happy to assign this to you @

[2022-09-10 09:37] sourav25998 commented on #164
Hi @afgane . If this issue is still open then can you please assign it to me?

[2022-09-10 15:54] #309 closed

[2022-09-10 17:28] theshashankpal commented on #308
Thank You!

[2022-09-12 06:02] nuwang opened #311 "Create Ansible module for cloudbridge"
An ansible module for cloudbridge would be of great use to anyone who needs to provision simple vms and other cloud resources using simple yaml templates. The template will express the desired state of the module.

A cloudbridge ansible module for creating a VM could look like the following:

[code]

Similarly, for creating a keypair:
[code]

Or a disk:
[code]

Each module would need to inspect th

[2022-09-12 15:58] nuwang opened #312 "Add support for Azure DNS records"
While AWS, GCP and OpenStack have DNS implementation in cloudbridge, there is no implementation for Azure. An implementation could follow the same pattern as the other 3 providers, but call the Azure API instead.

[2022-10-16 06:08] akshatakulkarni25 commented on #132
The [function](https://github.com/CloudVE/cloudbridge/blob/main/cloudbridge/providers/azure/services.py#L244) is performing serverside pagination here for keypair service. Could you help me understand if i have to write [this class ](https://github.com/CloudVE/cloudbridge/blob/6428fad40764aa45a776e904b10ca188355fa7a7/cloudbridge/base/resources.py#L205)

[2022-10-19 06:54] nuwang commented on #132
The ServerPagedResultList does not need to be implemented, as the implementation is generic for all cloud providers. The core task will be to find all instances in Azure where a ClientPagedResultList is returned, and investigate whether they can be replaced with a ServerPagedResultList. These will usually be in the list() and find() methods. As you can see in the KeyPair service example, in order

[2022-10-30 06:07] akshatakulkarni25 commented on #132
Thank you, i'll refer to the above resource.

[2022-10-30 10:47] theshashankpal commented on #308
Hey Nuwan,

Can you just provide me with the link to the different api's that are being
used here ?
i.e. aws, gcp , azure, openstack.

Thanks

On Sat, Sep 10, 2022 at 1:52 PM Nuwan Goonasekera ***@***.***>
wrote:

[2022-10-30 13:10] nuwang commented on #308
This is the list:
aws - https://boto3.amazonaws.com/v1/documentation/api/latest/index.html
gcp - https://github.com/googleapis/google-api-python-client
azure - https://github.com/Azure/azure-sdk-for-python
openstack - https://github.com/openstack/openstacksdk

The specific sdks are listed here: https://github.com/CloudVE/cloudbridge/blob/6428fad40764aa45a776e904b10ca188355fa7a7/setup.py#L33

[2022-11-06 04:38] akshatakulkarni25 commented on #132
I am facing few errors, please let me know if there is a slack channel or discord where i can connect regularly.

[2022-11-13 06:07] h20220025 commented on #312
Hi @nuwang, I'm interested to work on this issue. Requesting to assign me this.
Thank You

[2022-11-13 07:37] nuwang commented on #312
That's great, thanks for working on it. Have assigned it to you.